[2015-01-28 17:59] nicchub opened #2 "cannot import name JsonResponse"
I get an import error installing DOP on Django 1.6, it's because JsonResponse is available only from >=  django 1.7

[2015-01-28 18:47] juanifioren commented on #2
Yup sorry, for this moment I'll just add in the README that is for Django 1.7.
Maybe adding 1.6 support in a future.

Thanks.

[2015-01-28 18:47] #2 closed

[2015-01-28 18:48] juanifioren opened #3 "Support for Django 1.6"
Adding full support for Django 1.6.* at least.

[2015-01-28 18:50] juanifioren commented on #2
For Django 1.6 support see #3

[2015-01-29 15:25] nicchub commented on #3
I added workaround for it: https://github.com/nicchub/django-openid-provider/commit/92754e555ffcd346792549b5fa07eb0d81bccd32

try:  # JsonResponse is only available in Django > 1.7
    from django.http import JsonResponse
except ImportError:
    from ..utils.http import JsonResponse

Also I'm working on some refactor code to the project and adding CI integration support and tests (on a diferent br

[2015-02-02 21:28] juanifioren opened #5 "Remember user consent and skipt it"
In the Authentication Request, if users previously gave consent to some client
(for a specific list of scopes) and because they might be prompted for the same
authorization multiple times.

I have some doubts.
¿Could be acceptable to skip it?.
¿Works on both auth code and implicit flows?.

Am hearing opinions about it. Thanks.

[2015-02-03 15:43] juanifioren commented on #5
Posted the question on StackOverflow.
http://stackoverflow.com/questions/28302918/ways-to-skip-user-consent-in-openid-connect

[2015-02-08 22:03] cancan101 opened #7 "using pyoidc"
Any reason not to leverage [pyoidc](https://github.com/rohe/pyoidc)?

[2015-02-09 17:26] juanifioren commented on #7
Hi @cancan101 ,
I was looking some lib for implementing a provider in Django. **pyoidc** was really complicated to understand, I couldn't even make it work. Discovery, provider, wsgi and cli are mixed.

There are some questions on Stackoverflow about this:
http://stackoverflow.com/questions/28193250/openid-connect-provider-in-python
http://stackoverflow.com/questions/21376619/openid-connect-provid

[2015-02-09 17:35] cancan101 commented on #7
Understood. What are your thoughts on:
* https://github.com/GehirnInc/python-oidc
* https://github.com/SteelPangolin/flask-oidc
* https://github.com/intelie/django-oidc-auth (client library)

[2015-02-09 17:52] cancan101 opened #8 "OpenID Provider Discovery"
Per http://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig:

Currently there is no view for `/.well-known/openid-configuration`.

[pyoidc does support this feature](https://github.com/rohe/pyoidc/search?utf8=%E2%9C%93&q=%22openid-configuration%22) and other libraries expect that as well: [django-oidc-auth](https://github.com/intelie/django-oidc-auth/blob/a3dd1cc3f5371c200e6a29ddd

[2015-02-09 18:41] juanifioren commented on #8
Yes @cancan101 ,
We are still working on the core functionality of OIDC (also on OAuth2). Despite that **Discovery** is used by most clients it is optional (like Dynamic Registration). But It SHOULD be implemented in a future.

Thanks for reporting this.

[2015-02-09 18:46] cancan101 opened #9 "LOGIN_URL in settings.py in README"
The `README` shows the following in `settings.py`:
[code]
but it is not clear why `LOGIN_URL` is required or what it should be set to ('/accounts/login/' ?).

[2015-02-09 18:57] juanifioren commented on #9
It's used by the **authorization endpoint** to authenticate end-user into the provider.
Following: http://openid.net/specs/openid-connect-core-1_0.html#Authenticates
In our case, is just a view that log the user into Django.

The default value is the same that use the framework.

[2015-02-09 18:57] #9 closed

[2015-02-09 18:59] cancan101 commented on #9
That is the redirect that occurs here: https://github.com/juanifioren/django-openid-provider/blob/77d1bf86e825e02506bcfa1c3ca7dca77900b04a/openid_provider/views.py#L47 ?

If so, shouldn't it redirect back to the authorization view once the user is logged in?

[2015-02-09 19:18] juanifioren commented on #9
It does!
If user is not logged, it redirect to login view. Url will be something like this:
[code]
After login succeed it redirect back to the authorization view, and the flow continue ...

[2015-02-09 20:22] cancan101 commented on #9
Ah I see.

That being said you can clean up this:
[code]
to just be:
[code]
See the implementation of [`redirect_to_login`](https://github.com/django/django/blob/12562747508032725d4366c08b19dd26a8ce8a0c/django/contrib/auth/views.py#L122).

[2015-02-09 20:32] cancan101 opened #10 "Forcing SSL"
The README states:

If you want to suggest to the users, something like this:
https://github.com/rdegges/django-sslify can be used to prevent non SSL connections.

[2015-02-09 20:41] juanifioren commented on #9
Thanks for that @cancan101. 7c49df79889ad18c497f4c0c08f8e6b2dd980b7d

[2015-02-09 20:43] cancan101 commented on #9
@juanifioren not sure if you saw this, but you might be able to clean up even further using: `login_required`.

[2015-02-09 20:50] juanifioren commented on #9
@cancan101, using `login_required` decorator, user login will be checked before the **request validation**. Following OIDC draft, request validation happens first.

[2015-02-09 21:09] cancan101 commented on #9
that does not have to be the case. You could create an inner function and just wrap that:
[code]

[2015-02-10 14:55] #7 closed

[2015-03-04 19:32] juanifioren commented on #8
Added `/.well-known/openid-configuration` endpoint that exposes basic info expected by clients.

3ad316cdca1a2d0989a05e7ce35566fc530706e4

[2015-03-04 19:32] #8 closed

[2015-03-05 20:44] juanifioren opened #15 "ID Tokens MUST be signed/encrypted with RS256 at least"
As the spec says:

Read more [here](http://openid.net/specs/openid-connect-core-1_0.html#IDToken).

[2015-03-06 19:16] juanifioren commented on #15
Actually is signed using `HS256 - HMAC using SHA-256 hash algorithm`. The idea is to implement `RS256`.

[2015-03-12 16:41] juanifioren opened #16 "Support HTTP Basic client authentication"
As we can read in [this section](http://tools.ietf.org/html/rfc6749#section-2.3.1) of the OAuth2 Spec:

   authentication scheme as defined in [RFC2617] to authenticate with
   the authorization server.

Actually, we are only supporting the include of client credentials in the request-body.
So, **HTTP Basic authentication scheme SHOULD be implemented.**

[2015-04-21 09:49] davidcerezal opened #21 "Token / UserInfo endpoints not checking for expired code / access token."
I was developing a example with that project and I realised that both Token or UserInfo endpoint are not checking if the code / access token has expired or not. Just checks for that code / token in the database.
(In the token endpoint checks for the expiration, but if the token has not be used, and the first time is used has expired the response is successful response as well)

Do you think to cha

[2015-04-21 17:40] juanifioren commented on #21
Hi @davidcerezal ! You are right!

The conditional that checks code expiration in Token endpoint was bad. (Fixed 9b321fef9aa127c8a3f80e89444b6a5d7152651b)

But we still need to check Token inside UserInfo endpoint. I'll be with that.

Thanks for reporting this.

[2015-04-21 20:28] juanifioren commented on #21
Added Access Token validation for the UserInfo endpoint. 180e0183c5e2fc4e3cdbc5df22040f41d6495923

[2015-04-21 20:28] #21 closed

[2015-04-29 17:24] juanifioren opened #22 "Support for Django 1.8"
Adding full support for Django 1.8.*.

[2015-05-06 21:21] juanifioren opened #23 "Validate scope of access token in UserInfo endpoint"
As we can read in the OAuth2 spec: https://tools.ietf.org/html/rfc6749#section-7

   access token and ensure that it has not expired and **that its scope
   covers the requested resource**.

So, the provider MUST ensure that the access token has (at least) `openid` in their scope list.

[2015-05-07 19:18] juanifioren commented on #23
Added validation for `openid` scope in the userinfo endpoint. 7a82c352fd790d66c932e2f8dae842e232dc10ae
Also added a test for it. e92308e4211441497c6dcefff5844d099d3ada06

[2015-05-07 19:18] #23 closed

[2015-05-08 18:59] juanifioren commented on #22
Added in version `v0.0.5`.

[2015-05-08 18:59] #22 closed

[2015-06-11 14:56] juanifioren commented on #15
Because I'm stuck with this, I posted some questions on StackOverflow:
[how-to-return-rsa-key-in-jwks-uri-endpoint-for-openid-connect-discovery](http://stackoverflow.com/questions/30537328/how-to-return-rsa-key-in-jwks-uri-endpoint-for-openid-connect-discovery)
[get-the-big-endian-byte-sequence-of-integer-in-python](http://stackoverflow.com/questions/30784217/get-the-big-endian-byte-sequence-of-in

[2015-06-16 14:03] rsung opened #26 "When do you think this library would be production use ready?"
I'm interested in using this library but I can't find any roadmap indicating when it should be production ready.  Please advise.

Regards
-r

[2015-06-16 14:56] juanifioren commented on #26
Hi @rsung ,

Thanks for your interest, we are using this package on a production site with no problem (with more than 100k users registered), have clients using PHP, Drupal and NodeJS with their respective RP implementations.
I think you ask this because there is a message on docs that advice about not using on a production environment (or doing it by your own risks).
This is because, we are still

[2015-06-16 16:05] rsung commented on #26
Thank you for the prompt response.  We'll move forward with this tool.

[2015-06-16 16:05] #26 closed

[2015-06-17 14:09] juanifioren opened #28 "Python 3 support"
Adding full support for Python 3.*.

[2015-06-19 14:14] rsung opened #29 "Redirect URI Error?"
Hi,

I'm using the same project and getting "Redirect URI Error" when submitting the following request.

http://localhost:8000/openid/authorize/?client_id=123&scope=openid&state=766841&redirect_uri=https://www.getpostman.com/oauth2/callback&response_type=code

redirect_uri is present in the query string. please advise.

[2015-06-19 14:21] juanifioren commented on #29
Hi @rsung,

Please ensure that your `oidc_provider.models.Client` object has the same uri that you send in the auth request.

Just `python manage.py shell` and:
[code]

Please let me know how it was!

_-Ignacio_

[2015-06-19 14:22] rsung commented on #29
Yes, I was just looking into that.  Sorry, I should have done more research before raising a flag.  Thanks!

[2015-06-19 14:24] juanifioren commented on #29
No problem! Sometimes happens! haha

_-Ignacio_

[2015-06-19 14:24] #29 closed

[2015-06-22 21:50] juanifioren commented on #5
Added to `master`. Planned for `0.0.7`.

[2015-06-22 21:50] #5 closed

[2015-06-30 19:11] juanifioren commented on #28
Check [`py3`](https://github.com/juanifioren/django-oidc-provider/tree/py3) branch for this.

[2015-07-01 21:25] #28 closed

[2015-07-13 20:46] juanifioren commented on #15
Check [v0.1.0-dev](https://github.com/juanifioren/django-oidc-provider/tree/v0.1.0-dev) for this implementation.

[2015-07-15 19:01] juanifioren opened #34 "Nonce support for both Code and Implicit flow"
#### The spec say:

The nonce in the returned ID Token is compared to the hash of the session cookie to detect ID Token replay by third parties. Use of the nonce is OPTIONAL when using the code flow.

[2015-07-16 04:08] rsung opened #35 "Access token validation"
From resource server (RS), is there a way to validate the access token?

Thanks,
-r

[2015-07-16 16:09] juanifioren commented on #35
Hi @rsung,

You mean something like [this](https://developers.google.com/identity/protocols/OAuth2UserAgent#tokeninfo-validation)?.

[2015-07-16 19:36] #34 closed

[2015-07-16 21:06] rsung commented on #35
Thanks @juanifioren. I was actually thinking of the one like the Google API offers.

I was also looking for a token revocation endpoint.  Looking at the 0.1.0-dev branch, it looks like it's not being planned as well.

I need these for my project.  If you're interested, I can implement them and send you a pull request.

Please let me know.

[2015-07-16 21:36] juanifioren commented on #35
Hi,

The _"TokenInfo"_ that google have is useful for debugging (involves an HTTP round trip) but for production purposes, is recommended that you retrieve server public keys from the keys endpoint and perform the validation manually. Thats why RSA sign is priority now. I'll like to contact you in a future to see how you make it works, thanks @rsung.

Greetings.

[2015-07-17 15:05] juanifioren commented on #15
Ready on version `v0.1.0`.

[2015-07-17 15:05] #15 closed

[2015-07-17 15:06] juanifioren commented on #35
Check out version `v0.1.0`.

[2015-07-17 15:06] #35 closed

[2015-07-20 14:41] juanifioren opened #36 "Sending access_token as query string parameter in UserInfo Endpoint"
An alternative of using `Authorization: Bearer` HTTP header:
[code]

The idea is to implement this.
[code]

[2015-07-27 21:35] #36 closed

[2015-07-30 20:43] juanifioren commented on #16
Added on `v0.1.1`.

[2015-07-30 20:43] #16 closed

[2015-08-11 22:01] rsung opened #41 "test_idtoken_sign_validation not performing any assert"
while investigating an issue with public key and signing, I noticed that test_idtoken_sign_validation is always passing because it's not doing an assert.

[2015-08-12 02:44] rsung commented on #41
just read through JWS().verify_compact() method and understand why there was no test.  If signature is bad, an exception would be thrown.  It's good enough for me.

[2015-08-12 02:44] #41 closed

[2015-08-12 03:34] rsung opened #42 "ID token does not contain kid"
It appears that current implementation contains only "alg" in the token header.

E.g.
{"alg":"RS256")

Should include kid and look like:
{"alg":"RS256","kid":"1f8965c7a3f36d7ed39b1f95cb5143dd"}

I believe the issue is with encode_id_token method in utils/token.py.  It should be calculating kid and passing it as an argument to RSAKey constructor.

[2015-08-12 15:26] juanifioren commented on #41
As you said @rsung, that's why.

[2015-08-12 15:30] #42 closed

[2015-08-12 18:34] juanifioren commented on #10
Thinking about this, the idea is that when you are running with `DEBUG = True` no control is needed, otherwise, the package SHOULD prevent non SSL connections.

[2015-08-13 19:25] rsung opened #44 "jwks endpoint is not compatible with Java client"
It appears that we're unable to integrate a Java client to the jwks endpoint to validate the ID token.

The issues is logged here but it boils down to incompatible base64 encoding of modulus of public key.  Java client can't decode what Python endpoint creates.

https://github.com/rohe/pyjwkest/issues/36

Any advice would be appreciated.

Thanks

[2015-08-24 14:50] rsung commented on #44
Since we're dealing with private endpoint, we adopted a workaround on both side to make this work.

[2015-08-24 14:50] #44 closed

[2015-08-24 15:44] rsung opened #45 "Authorization redirect is not AngularJs URI pattern compatible"
When redirect uri pattern follows AngularJs URI pattern the redirect breaks.  For example, our client's callback URI looks something like https://www.somewebsite.com/#auth.

It appears that the following line:
query_fragment = parse_qs(uri.fragment)
in authorize.py is dropping "auth" in fragment.

Result is redirect to https://www.somewebsite.com/#token_type...

[2015-08-24 15:47] rsung commented on #45
I think following fix would work but waiting from conformation from the client.

query_fragment = parse_qs(uri.fragment,keep_blank_values=True)

 https://www.somewebsite.com/#auth=&token_type=bearer&...

[2015-08-24 15:53] juanifioren commented on #45
Ok @rsung. Waiting to see how we can solve this. Don't doubt sending a pull request.

[2015-08-24 17:48] rsung commented on #45
@juanifioren

the client is requesting the following format.

https://www.somewebsite.com/#auth?token_type=bearer&

is that breaking standard?

[2015-08-24 17:57] juanifioren commented on #45
@rsung for what I understand, yes!

`?` char should not be there.
For example, this is a valid implicit flow redirection:
[code]

[2015-09-11 14:10] rsung commented on #45
@juanifioren Apparently this is a common problem with AngularJs and oidc.  There are several workaround and we decided to take one of those instead of making any changes to this lib behavior.

[2015-09-11 14:10] #45 closed

[2015-09-11 14:20] robosung opened #46 "Only one key supported"
We wanted to use multiple keys (per client) and it appears that the library only allows one.

Is there a plan to support multiple keys?

Thanks,
-r

[2015-09-11 15:10] juanifioren commented on #45
Thanks @rsung for clearing that out.

[2015-09-11 15:18] juanifioren commented on #46
When you mean "keys per client"... is about **rsa keys** or **client secrets**?

[2015-10-17 19:46] pabluk opened #49 "pyjwkest update breaks python 3 support"
I found some errors running the test suite with `tox` in the v0.2.x branch without making any changes to the code on python 3.4, for example:
[code]
Comparing the dependencies used in the [latest travis run with python 3.4](https://travis-ci.org/juanifioren/django-oidc-provider/jobs/82961771), I saw that it installed `pyjwkest-1.0.5` and my tox tests install `pyjwkest-1.0.6` following the requirem

[2015-10-19 14:55] #49 closed

[2015-10-19 19:58] pabluk opened #51 "creatersakey management command doesn't work in Python 3.x"
Following the documentation to create the example project, I've found this error with the `creatersakey` management command using Python 3.4 and the branch v0.2.x:
[code]
Running the same command in Python 2.7 works as expected.

[2015-10-19 20:11] juanifioren commented on #51
Great work. Greetings.

[2015-10-19 20:11] #51 closed

[2015-11-11 19:31] wayward710 opened #59 "Dynamic registration endpoint"
Thanks for creating the new branch for the dynamic registration.  Is there anything you need me to do with it at this point, or is it just waiting to be merged?

[2015-11-11 19:47] juanifioren commented on #59
Hi @wayward710
Thanks for contributing. Am working on Mobile clients right now, the idea is to merge dynamic registration soon (awesome work!). But realize that we need tests for it, you can work on that if u want obviously. Remember to work on `feature-dynreg` branch.

Greetings :)

[2015-11-13 19:31] juanifioren commented on #46
So @robosung

[2015-11-23 21:58] nmohoric opened #60 "Removal of Old Tokens/Codes"
A client has requested that tokens/codes should no longer be usable if the same client has a newer one for that user, to allow for less possible attack vectors.

Before I begin implementing a solution I thought I would check here to see if:
a) this would be something you would be interested in merging in and, if so,
b) you had any preferences on implementation

I imagine the two possible solutions

[2015-11-24 19:05] juanifioren commented on #60
Hi @nmohoric

I already thought this topic so I'm interested. Have a few ideas about a possible implementation:

- Having a command `cleartokens` that remove expired codes/tokens from database.
- Add an action for the admin ([read more](https://docs.djangoproject.com/en/1.8/ref/contrib/admin/actions/)).

I think deleting from database will be better.

Greetings.

[2015-11-26 06:21] wayward710 opened #61 "Example OIDC provider using Django-allauth"
If it's useful to anyone, I've been working on a project using django-oidc-provider with django-allauth for authentication.  It uses the ExtraScopeClaims class to include information from the social identity providers and the user's group membership in the UserInfo endpoint.  It still needs more testing and documentation, but overall seems to work.  It's up at https://github.com/wayward710/django-

[2015-11-30 14:29] juanifioren commented on #61
Thanks for sharing the project with the community @wayward710. I'll just close the issue (cause is not an issue actually).
Greetings

_-Ignacio_

[2015-11-30 14:29] #61 closed

[2015-12-02 21:34] juanifioren opened #64 "Auto-generate Client ID and SECRET on admin"
I think this would be a cool feature. Also create an "action" for re-generate SECRET's.

Any opinion is welcomed.

[2015-12-03 00:26] fgaudin opened #65 "alg is None in the headers when using pyjwkest==1.0.8"
I think this commit broke it: https://github.com/rohe/pyjwkest/commit/3292070ff3bf3e1a4ca5915832d7cbf9c121a006

I wonder if it's a bug in pyjwkest or something which can be fixed in oidc provider.

[2015-12-03 00:33] fgaudin commented on #65
Just seen your fix in the tests. Unless I'm wrong, it's not good to allow None in the tests. It skips the signature verification, allowing anyone to forge a token.

[2015-12-03 00:37] fgaudin commented on #65
created an issue on pyjwkest https://github.com/rohe/pyjwkest/issues/46

[2015-12-03 03:51] juanifioren commented on #65
Yup! Just decide to skip signature check so tests pass. Need to understand in deep why this happens, if the problem is here or in pyjwkest. I'll follow that issue.

[2015-12-03 06:14] fgaudin commented on #65
I would suggest to revert the tests and set the dependency to pyjwkest<=1.0.6 until a fix is found. With 1.0.8, the headers always contains alg: None which should indeed be considered wrong and rejected otherwise anyone can forge a JWT since the signature is not verified.

[2015-12-03 16:31] juanifioren commented on #65
You are right @fgaudin. Reverted.

[2015-12-04 16:54] juanifioren opened #66 "Support for Django 1.9"
Adding full support for Django 1.9.

[2015-12-14 16:53] wojtek-fliposports opened #67 "Version 0.2.2 not accessible from PIP"
Hi.
The latest version 0.2.2 is not accessible from PyPI:

[code]

[2016-01-06 17:32] juanifioren commented on #67
Don't know what happen with PyPi. Upload a new version `v0.2.3`.

[2016-01-06 17:32] #67 closed

[2016-01-06 17:36] #66 closed

[2016-01-09 17:21] aarsan opened #69 "having hard time installing on windows"
I am trying to install this on Windows 10 and receiving the following error:

    error: Microsoft Visual C++ 10.0 is required (Unable to find vcvarsall.bat).

Visual C++ 10.0 comes with Visual Studio 10 which is no longer available. Have you run into this? Do you know of a workaround? Thanks!

[2016-01-09 17:42] juanifioren commented on #69
Hi @aarsan. Could you please provide more info about this error? When happen this? What you where trying to do?.

_greetings!_

[2016-01-09 17:45] aarsan commented on #69
I'm using 64bit Python 3.4.3 and running "pip install django-oidc-provider". It looks like it's going well then fails at the end with the following error:

running build_ext
building 'Crypto.Random.OSRNG.winrandom' extension
warning: GMP or MPIR library not found; Not building Crypto.PublicKey._fastmath.
error: Microsoft Visual C++ 10.0 is required (Unable to find vcvarsall.bat).

[2016-01-09 17:52] juanifioren commented on #69
Sorry for my acknowledge about Windows. Btw, [did you read this post?](http://stackoverflow.com/questions/27670365/python-pip-install-error-unable-to-find-vcvarsall-bat-tried-all-solutions). It seems to summarize all the anwers about this problem.

[2016-01-09 18:23] aarsan commented on #69
Yeah, unfortunately it looks like the pycrypto dependency requires the compiler from a version of Visual Studio which I don't have. Even if I did have it, I was hoping to install this package using a requirements.txt file on multiple machines, which also won't have that compiler. I think the correct solution is to have a Wheel package, which won't require an external compiler. I don't know if that

[2016-01-09 18:26] aarsan commented on #69
Another option is to have your package depend on pycryptodome, which apparently does have a Wheel package, but if most of the people using this are running it on Linux, I don't see why you would do that :)

[2016-01-09 19:56] juanifioren commented on #69
I understand, but this package only depends on `pyjwkest`, and this one makes use of `pycrypto`.

[2016-01-09 20:45] aarsan commented on #69
That makes it more difficult. I might be out of luck.

[2016-01-10 01:14] wojtek-fliposports opened #70 "OIDC_IDTOKEN_SUB_GENERATOR should handle string pointing to function not direct reference to function"
__OIDC_IDTOKEN_SUB_GENERATOR__ should handle string pointing to function not direct reference to function.

Currently I'm force to write something like in `settings.py`:
[code]

I think better solution is to use:
[code]

[2016-01-10 22:29] aarsan commented on #69
Opened an issue with the dependent library:

https://github.com/rohe/pyjwkest/issues/47

[2016-01-11 00:59] #69 closed

[2016-01-11 19:12] juanifioren commented on #64
Added on branch 'v0.2.x'

![screenshot from 2016-01-11 15 56 53](https://cloud.githubusercontent.com/assets/5168681/12243544/fc416954-b87d-11e5-8c31-2780429f358f.png)
![screenshot from 2016-01-11 15 57 06](https://cloud.githubusercontent.com/assets/5168681/12243546/fe5ea710-b87d-11e5-86ed-d47e7d2a6320.png)

[2016-01-11 19:12] #64 closed

[2016-01-12 18:34] juanifioren commented on #70
Thanks for reporting this. Added to branch `v0.2.x`. And will be included on version `v0.2.4`.

[2016-01-12 18:34] #70 closed

[2016-01-13 02:08] aarsan commented on #69
in case anyone runs across this, the workaround is to manually install pycrypto first. a wheel package can be found here: http://www.voidspace.org.uk/python/pycrypto-2.6.1/

[2016-01-16 10:32] pabluk opened #72 "get_issuer returns a wrong value"
I think that the issuer value sent by `/.well-known/openid-configuration/` is wrong:
[code]
using the oic library I see this error:
[code]
and looking at https://github.com/juanifioren/django-oidc-provider/blob/v0.2.3/oidc_provider/lib/utils/common.py#L23:L24 I see that the value returned by `reverse('oidc_provider:provider_info')` has no ending slash:
[code]
so it's never split.

[2016-01-17 17:03] #72 closed

[2016-01-17 17:05] juanifioren commented on #72
Cool @pabluk!
Never realize that :+1:

[2016-01-17 17:08] juanifioren commented on #46
Reopen if you want to explain more in details.

[2016-01-17 17:08] #46 closed

[2016-01-28 23:21] fgaudin opened #75 "Skip user consent entirely"
Hi Juan,

I'm using your app to split a project into multiple smaller projects but we develop all the clients so asking for user consent is irrelevant for us. Would it make sense to add a setting (OIDC_ALWAYS_SKIP_CONSENT?) to completely bypass it?

I can provide a pull request if you're interested.

In the mean time, I'm planning to implement it by adding UserConsent objects on User create and Cl

[2016-02-01 17:46] juanifioren commented on #75
Hi @fgaudin, sorry for the delay.

Thanks for reporting this, is usefull. Added `OIDC_SKIP_CONSENT_ALWAYS`. I'll be bumping a new version soon.

[2016-02-01 17:46] #75 closed

[2016-02-01 17:55] fgaudin commented on #75
Awesome! thank you

[2016-02-02 20:34] juanifioren opened #76 "Update pyjwkest to version 1.1.0"
Also related with issue https://github.com/juanifioren/django-oidc-provider/issues/65.

[2016-02-02 20:36] juanifioren commented on #65
See https://github.com/juanifioren/django-oidc-provider/issues/76

[2016-02-04 03:38] juanifioren commented on #76
Ready on version `0.2.5`

[2016-02-04 03:38] #76 closed

[2016-02-04 03:40] wojtek-fliposports commented on #76
Thank You !

[2016-02-04 03:40] juanifioren commented on #65
Since now we update pyjwkest to version `1.1.0` I'll close this.

[2016-02-04 03:40] #65 closed

[2016-02-05 17:12] juanifioren commented on #3
`1.6` support dropped.

[2016-02-05 17:12] #3 closed

[2016-02-11 15:00] juanifioren opened #78 "Add support for Django Rest Framework"
The idea is to have both `django-oidc-provider` and `djangorestframework` working on a same project providing Authentication with OpenID Connect and Authorization with OAuth2.

Any help is welcomed.

[2016-02-11 16:06] wojtek-fliposports commented on #78
what do You want exactly ? I have made own modification to rest framework to verify (check signature) and login user being send by token

[2016-02-11 16:12] wojtek-fliposports commented on #10
Since Django version 1.8 You have [SecurityMiddleware](https://docs.djangoproject.com/en/1.9/ref/middleware/#django.middleware.security.SecurityMiddleware) and simply just add in the test/production settings:

`SECURE_SSL_REDIRECT = True
SECURE_SSL_HOST = 'your_domain.com'
SECURE_CONTENT_TYPE_NOSNIFF = True
SECURE_HSTS_INCLUDE_SUBDOMAINS = False
SECURE_HSTS_SECONDS = 3600*24
SESSION_COOKIE_SECURE

[2016-02-11 16:13] juanifioren commented on #78
I was thinking doing something like [django-rest-framework-oauth](http://jpadilla.github.io/django-rest-framework-oauth/authentication/#oauth2authentication) but using `oidc_provider.models.Client` and the token endpoint. What you've done in your case?.

[2016-02-11 16:48] juanifioren commented on #78
Any piece of code will help @wojtek-fliposports :+1:

[2016-02-12 09:49] wojtek-fliposports commented on #78
No problem, I'm using `djangorestframework-jwt` with `django-redis` and `python-redis-lock` . First package I'm using as basic with some customizations. Other only for locking (only one thread should ask for new token).

Basically when my microservice receive token, validates it and it's signature, then creates (if not exists) user with username from token (I'm customizing username as `hashids`)

[2016-02-12 18:12] juanifioren commented on #78
Create a branch for this called `feature-restframework`

[2016-03-22 14:40] yalis opened #86 "Add support for client JWT token algorithm configuration"
Actually the client generate ID Token using RS256 which is the default algorithm according:

http://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation

Would be deseable to add support for HS256 and another common algorithms to the client configuration.

[2016-03-22 16:58] juanifioren commented on #86
Great idea @yalis !
Would be nice to have that in the admin.

[2016-03-22 19:25] juanifioren commented on #86
I create a branch called `feature-jwtalg`. You can select the JWT algorithm from the admin of each Client.

![screenshot from 2016-03-22 16 20 40](https://cloud.githubusercontent.com/assets/5168681/13964849/8a5bfb42-f04a-11e5-9691-0c54a06a50c3.png)

Can you please test it?. I'll be adding test soon.

[2016-03-23 18:54] yalis commented on #86
I tested this new feature with the python-social-auth open_id backend and worked great.

Thanks!

[2016-03-25 12:13] sadaf2605 commented on #2
on `django-admin --version`
1.9.2

[code]

[2016-03-25 20:59] juanifioren commented on #2
@sadaf2605 what django version are you using? The package is only supporting versions **>1.7**

[2016-03-29 18:30] wojtek-fliposports commented on #10
Maybe we can adapt this:
[code]

and then in:
[code]

[2016-03-30 13:32] wojtek-fliposports opened #87 "`prompt` value is ignored in Authorization endpoint"
in section: [3.1.2.3.  Authorization Server Authenticates End-User](http://openid.net/specs/openid-connect-core-1_0.html#Authenticates) we can read:

This parameter being ignored.

Maybe something like this patch will help. Only my worries is the last part about log out the user to force login screen.

[code]

[2016-04-01 17:24] WilliamDenniss opened #88 "Add support for non-confidential App clients"
Currently all clients registered by _django-oidc-provider_ require a client secret, however some clients are [not capable](https://tools.ietf.org/html/draft-ietf-oauth-native-apps-01#section-7) of keeping secrets confidential (specifically: downloadable apps).

If the client has approved the request previously, subsequent requests are auto-approved by _django-oidc-provider_. I recommend not auto-a

[2016-04-01 17:35] WilliamDenniss opened #89 "Consider adding PKCE (RFC7636) Support"
To well support native apps, it's [recommended](https://tools.ietf.org/html/draft-ietf-oauth-native-apps-01#section-5.2) to support the [PKCE OAuth extension](https://tools.ietf.org/html/rfc7636).

[2016-04-01 17:38] WilliamDenniss commented on #88
[This section](https://tools.ietf.org/html/draft-ietf-oauth-native-apps-01#section-5.4) of the Apps draft refers to auto-approval for non-confidential clients.

[2016-04-05 20:23] wojtek-fliposports commented on #87
@juanifioren Can You discuss with me solution I proposed ?

[2016-04-05 20:42] wojtek-fliposports opened #90 "Ignoring OIDC_SKIP_CONSENT_ENABLE in POST request"
I have question to handling POST request in https://github.com/juanifioren/django-oidc-provider/blob/v0.3.x/oidc_provider/views.py#L104 ?
[code]
And some additional questions:
Why You validating params before checking "allow" in POST ?. Is where any spec saying that "allow" must be in POST request ?

[2016-04-05 21:30] juanifioren commented on #90
### OIDC_SKIP_CONSENT_ENABLE in POST request

Well there is no need to check for OIDC_SKIP_CONSENT_ENABLE in POST request because the GET request to the Authorization Endpoint happens first, so it will actually SKIP the consent and return the code directly (without hitting the POST way). I think saving on the database everytime the user gives consent to an APP is OK.

What do you think about it?.

[2016-04-08 16:26] juanifioren commented on #89
Already implemented and merged with branch `v0.3.x`.
Thanks for this @WilliamDenniss.

Greetings!

[2016-04-08 16:26] #89 closed

[2016-04-08 21:14] juanifioren commented on #88
Thanks @WilliamDenniss, now if the request comes from a public client the provider won't auto-approve the request. Added to branch `v0.3.x`.

[2016-04-08 21:14] #88 closed

[2016-04-13 21:44] juanifioren commented on #87
Create a new branch for this `feature-prompt`. Check it out. With all the logic for the prompt param.
I'll be working on tests.

[2016-04-15 14:36] juanifioren commented on #87
Feature added to branch `v0.3.x`. Thanks for reporting this.

[2016-04-15 14:36] #87 closed

[2016-04-25 17:12] #90 closed

[2016-04-26 23:08] juanifioren commented on #86
This feature was released on version `v0.3.2`.

[2016-04-26 23:08] #86 closed

[2016-05-19 19:32] vpmedia opened #93 "Migrate from Crypto to Cryptodome"
Hi,
Can you please change the code in the v3 branch importing Crypto to Cryptodome?
I think the Crypto package is no longer maintained (last commit was two years ago).
As reference you can take a look at:
https://github.com/rohe/pyjwkest/commit/d676d16b31119c9da3c8243102d4970b2e3ae177

Best regards!

[2016-05-26 19:35] juanifioren commented on #93
Hi @vpmedia sorry for the late reply. `django-oidc-provider` use `pyjwkest==1.0.1` (which is the latest version on PyPi) so still make use Crypto. The solution is that the author of `pyjwkest` release a new version with the Cryptodome lib.

[2016-05-26 19:38] juanifioren commented on #93
Related issues:
juanifioren/django-oidc-provider#69
rohe/pyjwkest#47

[2016-06-08 05:37] vpmedia commented on #93
Great, thanks for the response!

[2016-06-09 23:55] cnobile2012 opened #96 "When I ran the runserver it said that you code needed to be migrated."
It looks like you may have forgotten to commit the last DB migrations to your repo. I get a request when I run the runserver that your code needs migrations. I did makemigrations on your code and it fixed this. When I want to upgrade to a future version, of your code, there will be collisions with migrations, since we both will be making migrations on the same change set.

You may want to check th

[2016-06-10 13:18] juanifioren commented on #96
Hi @cnobile2012.
I can't reproduce this error you describe. What version of `django-oidc-provider` you are using?.
I try running `python manage.py makemigrations oidc_provider` but nothing happens.

[2016-06-10 13:26] cnobile2012 commented on #96
It looks like it's version 3.3, this is the egg info file
name: django_oidc_provider-0.3.3-py3.4.egg-info

The first time I ran the runserver is when it told me that there were
migrations in your code. I ran `./manage.py makemigrations oidc_provider`
and it made `oidc_provider/migrations/0015_auto_20160608_0030.py` in your
package.

~Carl

On Fri, Jun 10, 2016 at 9:18 AM, Juan Ignacio Fiorentino <

[2016-06-10 15:30] juanifioren commented on #96
Fixed. Migration added. Check out version `v0.3.4`.
Thanks for reporting this @cnobile2012.

[2016-06-10 15:30] #96 closed

[2016-06-30 21:23] jdunck opened #97 "Consider support for both pyjwkest and python-jose"
I have a project that already uses python-jose, and I'd like to use django-oidc-provider as well.   It seems a shame to have multiple implementations of JWT running around, so that there are possibly-conflicting transitive dependencies and interoperability concerns.

It's possible to have library users choose their transitive dependency by using extra_requires:
e.g.
https://github.com/jazzband/dja

[2016-07-05 20:33] juanifioren commented on #97
Ok. How are you going to implement this?.

[2016-07-05 21:20] jdunck commented on #97
People would need to change their requirements to 'django-oidc-provider[jwkest]' or 'django-oidc-provider[jose]' - we could keep jwkest by default for a backwards-compat version or whatever you want.

Internally, there would be a jwt-compat module, which tries to import jwkest and falls back to jose, and adapts their APIs to an internal -oidc-provider format.  Or, if you don't like the fall-back a

[2016-07-05 22:41] juanifioren commented on #97
Ok. I would like to leave jwkest as the default one. And I think the fall-back approach is OK. What do you think?. We can create a jose module inside lib folder and put all the logic there.

[2016-07-05 22:46] juanifioren commented on #97
We can start working this on [feature-jwtdeps](https://github.com/juanifioren/django-oidc-provider/tree/feature-jwtdeps) branch. I'll try to help you.

[2016-07-05 23:08] jdunck commented on #97
OK, I've forked to https://github.com/matterport/django-oidc-provider.

I notice pyjwkest==1.1.0 in setup.py, but 1.1.7 is the current latest.  Want >=1.1.0,<1.2.0?

[2016-07-05 23:43] juanifioren commented on #97
Ok. No problem.

[2016-07-08 15:50] demchenkoa opened #98 "whether it is possible to store tokens in the cache and how its make do not take the libraries?"

[2016-07-08 21:26] juanifioren commented on #98
Not possible at this moment. Could be a good feature. I think creating a two wrapper functions `get_token` and `store_token`, then having a setting like this `OIDC_TOKEN_STORAGE = 'cache'`. Seems not so difficult to implement. What do you think?

I don't understand the last part of your question.

[2016-07-09 07:55] demchenkoa commented on #98
Yes, it is reduce the data base load, use redis or
something other. It is necessary for the project on my work.
In last part i mean that make caching data without rewrite is yours module.

[2016-07-26 07:43] fjouatte opened #100 "Add few examples for beginners"
Consider adding few examples for beginners

[2016-07-26 07:43] fjouatte opened #101 "French translation"
Translate in french

[2016-07-26 15:10] juanifioren commented on #100
Yup! you are right. Btw, do you mean examples about the protocol or how to use the package?.
Greetings!

[2016-07-26 20:20] juanifioren commented on #101
Already generate the .po files so you can send a pull request with the strings translated.

https://github.com/juanifioren/django-oidc-provider/blob/v0.3.x/oidc_provider/locale/fr/LC_MESSAGES/django.po

Waiting for your contribution! Thanks!

[2016-07-27 13:55] fjouatte commented on #100
Both will be great don't you think ? I mean just tiny examples about protocol and more detailed examples for the use of the package

[2016-07-27 13:56] fjouatte commented on #101
Awesome, i'll do that soon :)

[2016-07-30 03:50] jdunck commented on #97
Hi @juanifioren  - I've been working on this and didn't see a place where you specify the supported algorithms.  Is it just HS256 and RS256?  I figured I should ask rather than guess. :)

[2016-08-01 15:33] #101 closed

[2016-08-01 20:23] juanifioren commented on #97
Hi @jdunck, sorry for the late reply. YES! only those algs are supported btm.
Please anything else just ask.

[2016-08-02 03:34] jdunck commented on #97
PR up: https://github.com/juanifioren/django-oidc-provider/pull/103

[2016-08-04 21:06] jdunck commented on #97
That one was closed, new one #106

[2016-08-16 15:03] fjouatte opened #113 "Claim Name SHOULD be omitted from the JSON object when not returned"
Address should not be returned here

({'status': '200', 'server': 'WSGIServer/0.1 Python/2.7.9', 'pragma':
'no-cache', 'cache-control': 'no-store', 'date': 'Tue, 16 Aug 2016
09:20:38 GMT', 'x-frame-options': 'SAMEORIGIN', 'content-type':
'application/json'}, '{"sub": "3", "address": {}}')

http://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse

[2016-08-17 12:57] #113 closed

[2016-08-23 15:29] MrLinio opened #115 "Issue with Base64 encoding of ID Token"
Hi,
A client of us reported an issue with the encoding of the id_token :

is transformed :

But because of the number of bytes of the string, the Base64 stipulates a = must be put at the end in order for the encoding to be valid.

[2016-08-23 16:34] juanifioren commented on #115
Hi thanks for reporting. I'll try to figure out what is the problem with the encoding. We use a function of `pyjwkest` lib. So we have dependency there.

[The function in charge of the encoding](https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/lib/utils/token.py#L65)

Any help will be great.

[2016-08-24 02:19] jdunck commented on #97
PR was merged, closing this related ticket.

[2016-08-24 07:02] MrLinio commented on #115
Hi.

Hopefully the answer system works (I'm not a big user of github ;)).
I did a little digging this morning, and I think i found the issue :

https://github.com/rohe/pyjwkest/blob/master/src/jwkest/__init__.py

Line 145 is this :
return base64.urlsafe_b64encode(b).rstrip(b"=")

Which is eventually the line that is used to encode the JWT.
Although i love going through RFC's and such, although i'm

[2016-08-24 07:30] #115 closed

[2016-08-24 15:28] juanifioren commented on #115
Thanks for clearing things. Any other question please just raise issue, no problem really. Regards.

[2016-08-31 16:56] davidmr opened #116 "Extending Client model"
Hi,

I was wondering if it's possible to extend the Client model to add custom fields. One of such fields could be the privacy policy of the Client or something similar that can be used in the consent screen.

Thanks in advance.

[2016-09-01 14:22] juanifioren commented on #116
Hi, not possible at this moment. What do you mean with privacy policy? a text field to enter some kind of terms of condition?. Feel free to propose any other field that you think must be in Client model.

Greetings.

[2016-09-02 20:04] davidmr commented on #116
For example when you create your client (relaying party) information at Google, you can add the Homepage URL, Product logo URL, Privacy policy URL and Terms of Service URL.

So I was thinking on making possible to somehow extend the Client model depending on what the OIDC provider needs or wants to offer its clients.

The mechanism could be something similar to how Django allows to change the User

[2016-09-06 18:42] juanifioren commented on #100
Created the examples section in docs. The idea is to add more.
http://django-oidc-provider.readthedocs.io/en/develop/sections/examples.html

[2016-09-06 18:42] #100 closed

[2016-09-08 18:29] juanifioren opened #118 "Hybrid Flow support"
Implement:
http://openid.net/specs/openid-connect-core-1_0.html#HybridFlowAuth
http://openid.net/specs/oauth-v2-multiple-response-types-1_0.html

[2016-09-08 20:34] juanifioren commented on #118
Adden on branch [v0.4.x](https://github.com/juanifioren/django-oidc-provider/tree/v0.4.x)

[2016-09-12 16:20] juanifioren commented on #116
Hi @davidmr. New attributes were added for Clients: Website url, logo image, contact email and terms url. Checkout version `v0.4.0`.

[2016-09-12 16:20] juanifioren commented on #118
Released on version `v0.4.0`.

[2016-09-12 16:20] #118 closed

[2016-09-13 11:59] davidmr commented on #116
Awesome!, thank you very much.

[2016-09-14 23:39] davidmr opened #120 "Front-Channel Logout specification"
Hi @juanifioren

I've been looking for a way to handle logout actions from RPs and OPs. I found that the OpenID foundation is working on way to do it: Front-Channel Logout 1.0.

I'm created a feature branch for you to take a look `feature-frontchannel-logout` with an initial implementation of the spec.

Thanks

[2016-09-15 10:39] spinza opened #121 "Invalid redirect_uri error"
I'm testing this out with Rocket.Chat as a client.

I keep getting invalid redirect_uri errors but can't figure out the exact reason.  There are 3 or 4 reasons for the error and I don't know which it is triggering as the displayed error is generic but the code seems to log the exact reason.

How do I activate the logging (installed via pip)?  I've set logging to debugging for the example app but t

[2016-09-15 16:52] juanifioren commented on #121
Hi @spinza

---
If you have a "Redirect URI Error" what you can do is checking the url of the redirect that rocket.chat is doing. Then extract the `redirect_uri` part, [url-decode](https://urldecode.org/) it and add it into the redirect URIs field using the admin site.

Example redirect:
[code]
---
For logging you can add `oidc_provider` into your custom django logging setting.

Example `LOGGING`

[2016-09-16 17:26] #121 closed

[2016-09-16 17:28] spinza opened #122 "Using example project only getting userinfo {"sub": "x"}"
How should I expand the userinfo returned by the example project.
It only returns the sub.  E.g.
[code]
[From this](http://django-oidc-provider.readthedocs.io/en/v0.4.x/sections/claims.html), it seems I should create a custom userinfo function but not sure where to start with this.

[2016-09-16 17:46] juanifioren commented on #122
@spinza As I see docs are really updated. Thanks for reporting.

So basically to populate userinfo dict you must use `OIDC_USERINFO` setting.

Inside you app (called `yourproject`) create a file called `oidc_provider_settings.py` (next to your `settings.py`). Open `oidc_provider_settings.py` and create the following function:

[code]

Then open `yourproject/settings.py` file and add the following

[2016-09-17 09:50] spinza commented on #122
That worked.  The RP i'm using is expecting an 'id' field in the userinfo.  How do I add that?  Google/facebook seem to provide this typically.

I'm guessing I could make an additional scope in some way and then specify it.  Can this be done in the example without changing the library?  I'm working using your example code in the repo.

Btw. thanks for the support.

[2016-09-17 09:51] spinza commented on #122
I think I found what I need to do:
http://django-oidc-provider.readthedocs.io/en/v0.4.x/sections/settings.html#oidc-extra-scope-claims

[2016-09-17 15:01] juanifioren commented on #122
Yes @spinza, that's what you need.

Inside your `oidc_provider_settings.py` file add the following class:

[code]

Then open `settings.py` file and add the following line:

[code]

[2016-09-19 21:06] juanifioren commented on #122
Hi @spinza I'll close this. Docs are now updated http://django-oidc-provider.readthedocs.io/en/v0.4.x/

If you have any question please create a new issue. Greetings!

[2016-09-19 21:06] #122 closed

[2016-10-03 02:59] pjsg commented on #93
It is a little unclear which version of django-oidc-provider is really supposed to work. The current version depends on a version of pyjwkest which depends on pycryptodome. Thus all the Crypto references in django-oidc-provider point to pycryptodome. However, this means that you cannot use this version in a python environment that needs the old pycrypto (as pycryptodome is not compatible).

The cu

[2016-10-03 16:00] juanifioren commented on #93
@pjsg Hi, you are totally right. My fault since I've never run into this compatibility issue. Uploaded version `v0.4.1` with pyjwkest updated and now using pycryptodomex. So this version will be safe for you.
Greetings!

[2016-10-03 16:00] #93 closed

[2016-10-03 16:13] pjsg commented on #93
Thank you.

[2016-10-04 18:44] PabloLefort opened #127 "Installation error"
Hi!

Just a little error on the installation doc. These lines must be swaped:
[code]

[2016-10-05 17:21] juanifioren commented on #127
Thanks @PabloLefort for reporting. Feel free to send pull request if you want. Greetings.

[2016-10-05 17:21] #127 closed

[2016-10-05 18:27] PabloLefort commented on #127
All right, thanks! @juanifioren

[2016-10-10 20:08] davidmr opened #128 "Can I get to access the Client from a custom scope class"
Right now it doesn't seem to be possible as `ScopeClaims` just stores a reference to the user and scopes as instance variables.

[2016-10-11 16:34] juanifioren commented on #128
Hi @davidmr. What do you want to do? Maybe you can tackle it with another setting.

[2016-10-11 19:41] davidmr commented on #128
Hi @juanifioren

The use case goes like this: A Client (RP) can store custom data (as JSON) associated to a user via a public API call and I want to make it available as a custom claim when authenticating. The thing is that there are several RPs that want to store this custom data and I don't want them to know the custom data associated to other RPs. Because of that, when building the custom claim

[2016-10-12 19:32] davidmr commented on #128
Hi @juanifioren, I've created a small PR with what I have in mind. Thanks.

[2016-10-13 14:32] juanifioren commented on #128
Ready in version `0.4.2`. Thanks for the contribution.

[2016-10-13 14:32] #128 closed

[2016-10-20 09:22] donwitti opened #130 "Skip consent configurable per client"
I would like to skip consent confirmation for internal clients while requiring it for external ones. Do you think it would be against the general concept to make it configurable per client instead of having a global OIDC_SKIP_CONSENT_ALWAYS setting?

[2016-10-20 10:19] wojtek-fliposports commented on #130
Nice idea +1

From: Sebastian Witte <notifications@github.com>
Reply-To: juanifioren/django-oidc-provider <reply@reply.github.com>
Date: Thursday, 20 October 2016 at 11:22
To: juanifioren/django-oidc-provider <django-oidc-provider@noreply.github.com>
Subject: [juanifioren/django-oidc-provider] Skip consent configurable per client (#130)

I would like to skip consent confirmation for internal clien

[2016-11-04 22:34] wojtek-fliposports opened #131 "Conflicting migration detected"
With Django-oidc-provider 0.4.3 during `./manage migrate`:

`CommandError: Conflicting migrations detected; multiple leaf nodes in the migration graph: (0020_client__post_logout_redirect_uris, 0018_auto_20161018_2043 in oidc_provider).
`

[2016-11-04 22:39] wojtek-fliposports commented on #131
I have found two `0018`'s migrations: the wrong one is:
`/oidc_provider/migrations/0018_auto_20161018_2043.py`

if You changed name of migration file also breaks `pip install -U` command :/

[2016-11-07 14:25] juanifioren commented on #131
Try by removing that migration. The correct one is `0018_hybridflow_and_clientattrs.py`.

[2016-11-09 15:13] dholth opened #133 "interop with https://github.com/pingidentity/lua-resty-openidc"
Thanks for django-oidc-provider, it is amazing.

I'm trying to use it with lua-resty-openidc which performs the following requests

[code]

django-oidc-provider returns an empty `{}` id_token because `is_authentication` is False. https://github.com/juanifioren/django-oidc-provider/blob/v0.4.x/oidc_provider/lib/endpoints/token.py#L152

But, lua-resty-openidc expects a non-empty id_token with at min

[2016-11-09 19:23] juanifioren commented on #133
I'll test it. But I don't understand why you have `scope=code%20id_token`... shouldn't be the value of the **response_type** parameter?.

Btw, if you are trying to do an Authentication (oidc request) you must include `openid` in your scope list.

[2016-11-09 19:26] dholth commented on #133
Thanks. If I set scope to "code id_token openid" in the client then the request just fails. Is django-oidc-provider parsing scope properly? Or does that exact string need to be added to the "Response Type" dropdown on the Change Client page?

[2016-11-09 19:36] juanifioren commented on #133
**scope** is for for openid or oauth2 claims (openid, profile, email, address, etc).
**response_type** is to define the flow. Values are:

- `code`: Authorization Code Flow
- `id_token`: id_token (Implicit Flow)
- `id_token token`: id_token token (Implicit Flow)
- `code token`: code token (Hybrid Flow)
- `code id_token`: code id_token (Hybrid Flow)
- `code id_token token`: code id_token token (Hyb

[2016-11-09 19:57] dholth commented on #133
Thank you so much. One last question, is there a reason one client cannot use more than one response_type? Or should I just have multiple clients?

[2016-11-09 20:28] dholth commented on #133
It works, in 'code' mode, with the mentioned scope.

[2016-11-09 20:28] #133 closed

[2016-11-22 13:56] koriaf opened #135 "Timezones problem"
in `oidc_provider/lib/utils/token.py` there is a line (33):
`now = timezone.now()`

https://github.com/juanifioren/django-oidc-provider/blob/v0.4.x/oidc_provider/lib/utils/token.py#L32

after which the time is treated without any timezone conversion. But OIDC specification requires unixtime, which is UTC-bound and can't be changed across the timezones.

This results in unpleasant behaviour:
if OID

[2016-12-01 06:14] koriaf commented on #135
Fixed for one of my installation; will check on others as well soon. Thanks @bgelineau

[2016-12-01 06:14] #135 closed

[2016-12-01 15:59] juanifioren commented on #131
I'll close this @wojtek-fliposports, if you still have this issue please reopen it.

[2016-12-01 15:59] #131 closed

[2016-12-04 06:45] pichlou opened #139 "how generate ".po" file for new language, such as "fa" ,in locale directory?"
I do this with adding a new directory in locale directory and run the makemessages command,dose adding a new language,impact on other files?or translation is used in other files?

[2016-12-04 07:13] pichlou commented on #139
I do this with adding a new directory in locale directory and run the makemessages command,dose adding a new language,impact on other files?or translation is used in other files?

[2016-12-04 09:16] pichlou opened #140 "using ugettext_lazy instead of ugettext in claims.py"
I want translate authorize.html file,but using ugettext cause info_* in StandardScopeClaims not translated in template file of authorization,so i changed it to ugettext_lazy

[2016-12-05 18:18] juanifioren commented on #140
Now is using **ugettext_lazy**. What version are you using?.

[2016-12-05 18:20] #140 closed

[2016-12-06 06:20] pichlou commented on #140
Thanks !
my branch version is v 0.4.x , but claims.py was not updated!
I cloned it in 6 days ago,but your default branch updated in 4 days ago,however now  have no problem :)

[2016-12-06 10:43] ranvijay-zymr opened #142 "How can integrate openid connect based-authentication angularjs with django-backend?"

[2016-12-06 14:33] mjlawrence83 opened #143 "refresh_token cannot be primary key if null"
I've just got your latest version (0.4.4) and ran a migrate but I received an error from DB2 stating that REFRESH_TOKEN cannot be a unique/primary key as it can be NULL.

I'm guessing this is just an issue because I'm using DB2. Is there potential for a fix for this?

[2016-12-12 19:50] juanifioren commented on #143
Yes. Already push this fix on branch `v0.4.x`.

[2016-12-13 18:35] juanifioren commented on #142
Well you can use the implicit flow, I added [an example](http://django-oidc-provider.readthedocs.io/en/v0.4.x/sections/examples.html#pure-js-client-using-implicit-flow) of how to use OIDC with a client-side app.
You also have to validate ID_TOKEN's:
https://openid.net/specs/openid-connect-implicit-1_0.html#IDTokenValidation
If you ask for a specific library for AngularJS I can't answer that questi

[2016-12-16 14:28] #142 closed

[2016-12-21 12:42] mjlawrence83 commented on #143
That's great :) do you know when you'll be pushing your next release to PyPi?

[2016-12-22 15:48] maxicecilia opened #148 "ImportError trying to use session management"
I'm trying to use the session management feature as described in the [docs](http://django-oidc-provider.readthedocs.io/en/stable/sections/sessionmanagement.html), but I'm getting this error:

[code]

I'm using
[code]
and the MiddlewareMixin exists only in Django 1.10.x

[2016-12-28 14:08] mjlawrence83 commented on #143
Hi, I've just got the latest code, I ran migrate and it still fails on the same error, I'm guessing because it's setting up with initial, and then going through each migrate script, so it still encounters the same issue on the initial script. Is there a step I'm missing?

[2017-01-25 13:33] juanifioren commented on #148
Yes. I we need compatibility for older Django versions.

[2017-01-27 17:23] orzel opened #153 "Support grant_type=client_credentials"
This is not "openid connect" strictly speaking, but a great feature of the underlying oauth2 currently not supported by django-oidc-provider

Details are
https://tools.ietf.org/html/rfc6749#section-2.3.1
https://tools.ietf.org/html/rfc6749#section-4.4

This is especially useful when doing server-server communication through API, aka "2-legged" connection.

[2017-02-11 19:06] deepak1725 commented on #2
Django Version: 1.9.7
from django.http import JsonResponse
Import Error

[2017-02-14 19:53] dtenenba opened #154 "what are the admin credentials in the docker container?"
I ran the example project in docker according to https://github.com/juanifioren/django-oidc-provider/tree/v0.4.x/example_project#using-docker and then went to http://localhost:8000/ and clicked on "Create Your Clients". I then get prompted for a username and password and I have no idea what to enter. Can this be documented?

[2017-02-14 20:05] juanifioren commented on #154
Yes @dtenenba, my fault. Please in your terminal run `python manage.py createsuperuser` and use that credentials.

[2017-02-14 20:20] dtenenba commented on #154
That works.
As a newbie to OIDC though it's unclear what to do nest in the 'add client' screen. It would be great if the example included a sample client that we could use in conjunction with this identity provider to prove that it works. Is there a particular rp implementation that you recommend for testing?

[2017-02-14 21:25] juanifioren commented on #154
Here you have an easy way to test it.

http://django-oidc-provider.readthedocs.io/en/v0.4.x/sections/examples.html#pure-js-client-using-implicit-flow

You can serve the example html using `python -m SimpleHTTPServer 8001`.

[2017-02-14 21:50] dtenenba commented on #154
Thanks. Had some problems doing that. Here are the steps I did and the results:

First I created a new RSA key in the docker container:

    python manage.py creatersakey

Then in my OP, I created a new client:

* name: testclient
* Response type: id_token token
* Redirect URIs: http://localhost:3000 (is this correct? also tried http://localhost:8001)
* All other settings left the same.

Then I cl

[2017-02-16 18:04] dtenenba commented on #154
After following your example page exactly, things work fine. The only change I needed to make was to do

    python -m SimpleHTTPServer 3000

instead of

    python -m SimpleHTTPServer 8001

Thanks.

[2017-02-16 18:17] #154 closed

[2017-02-23 13:36] wojtek-fliposports opened #155 "Does "id_token_hint" should be validated before any actions are being taken?"
In this line https://github.com/juanifioren/django-oidc-provider/blob/develop/oidc_provider/views.py#L264 the token is taken without any validation of it's (at least) signature.
Maybe it should be validated before any client's actions are being taken ?

[2017-02-25 07:44] pichlou opened #156 "how can access to specific user profile info in response?"
i want access to specific user info with AuthorizeEndpoint,how override this or AuthorizeView for limiting response data?

[2017-02-27 08:18] pichlou opened #157 "in decoding id_token with JWT (HS256/RS256) signature is invalid,which keyes are used in JWT encoding?"
why JWT decoding algorithm not working on id_token in oidc-provider!?

[2017-03-05 23:07] orzel commented on #60
I definitely think that a django command is needed for this, exactly as is already the case for (sessions)  "clearsessions".
Actually, it seemed so obvious that I assumed such a command already existed. It's not difficult is it ? Would you merge it i implement it in management/commands/cleartokens.py ?

[2017-03-27 13:18] wojtek-fliposports commented on #155
I have found this part of specification:

So small changed are need to be done.

[2017-03-27 17:26] wojtek-fliposports commented on #157
what do you mean by `decoding algorithm` ?
Nothing in JWT is encoded (except Base64 applied on parts).
See https://jwt.io/introduction/#what-is-the-json-web-token-structure-

[2017-03-27 17:33] wojtek-fliposports commented on #156
I think You are asking how to get `access_token`. When You configure Client with Code Flow or Implicit Flow with `token` after authentication process you will receive `access_token` which you can use to invoke `UserProfile` endpoint and based on claims You asked for` response will have data that user gave you access to.

Reference:
Good presentation:
https://www.parisjug.org/xwiki/wiki/oldversion/

[2017-03-30 21:09] juanifioren commented on #156
Hi @pichlou, sorry for the late reply.
Here you can find more info of how to add user information into the response.

http://django-oidc-provider.readthedocs.io/en/v0.4.x/sections/scopesclaims.html

With the setting `OIDC_EXTRA_SCOPE_CLAIMS` you can change the behavior for each of the scopes requested.

Please feel free to ask anything (by reopening this issue) else so we can help you.

[2017-03-30 21:09] #156 closed

[2017-03-31 17:17] ka7eh opened #164 "Use "OIDC_LOGIN_URL" instead of "LOGIN_URL""
It'd be helpful if `oidc_provider` uses `OIDC_LOGIN_URL` instead of `LOGIN_URL` for its settings.
By doing so, apps can have a different login page for their `oidc` login. The default can be `LOGIN_URL`.

[2017-03-31 18:28] wojtek-fliposports commented on #164
I think that even better solution would be additional config parameter for client with default `OIDC_LOGIN_URL` with default `LOGIN_URL`.

What do you think about that ?

[2017-03-31 18:49] ka7eh commented on #164
Sounds good to me. I started making changes for this one. I'll submit a PR later and we can discuss the implications.

[2017-03-31 19:38] ka7eh opened #165 "Customize authorize and error templates in the settings"
Even though these two templates can be customized by overriding `oidc_provider/authorize.html` and `oidc_provider/error.html`, it adds more flexibility if their path can be set in settings.

For example a dict like this can take care of it:
[code]

[2017-03-31 20:47] ka7eh commented on #164
Take a look here: https://github.com/juanifioren/django-oidc-provider/pull/166
I realized I can remove `LOGIN_URL`, because `redirect_to_login` is using it by default if no `login_url` is passed to it. What are your thoughts on it?
Also, is there any other place in the code that might be affected by this change?

[2017-03-31 21:27] ka7eh commented on #165
See here: https://github.com/juanifioren/django-oidc-provider/pull/167

[2017-04-06 18:03] wojtek-fliposports commented on #165
Thanks for contribution. Please fix `try / catch / finally` block for settings section and we are ready to merge

[2017-04-10 14:06] bracki opened #170 "prompt "none" is handled incorrectly when user is authenticated and consent was given"
According to the [spec](http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) authorize with `prompt=none` can be used to check if a user is authenticated  and consent was given:

This is helpful if you want to do silent login with a JavaScript client for example.
The current implementation always returns an error. Instead it should check if consent was given and then redirect successf

[2017-04-10 14:13] wojtek-fliposports commented on #170
`prompt` is an OPTIONAL parameter:

I will check how it is handled by lib.

[2017-04-12 08:21] #164 closed

[2017-04-12 08:26] #130 closed

[2017-04-12 08:27] #165 closed

[2017-04-12 08:28] wojtek-fliposports commented on #157
If you have any question please reopen ticket but in meanwhile I'm closing it.

[2017-04-12 08:28] #157 closed

[2017-04-12 10:28] gertjanol opened #172 "Enabling Session Management middleware yields KeyError on `op_browser_state`"
We've been using this project for a while for our OpenID Connect setup. Recently we've been looking into Session Management and have enabled this. After enabling it, we're seeing a lot of `KeyError`s on the [`op_browser_state` cookie](https://github.com/juanifioren/django-oidc-provider/blob/53166fb9eaa4bf5a1f5a314b4f83e848da0b0e75/oidc_provider/lib/endpoints/authorize.py#L200).
We're able to repro

[2017-04-12 16:57] wojtek-fliposports commented on #172
Good catch :) 👍

I have just wanted to start working with this feature.

what do You think about changing `SessionManagementMiddleware` to

[code]

[2017-04-12 19:32] gertjanol commented on #172
Hey Wojtek,
Thanks, looks good!

[2017-04-13 08:31] wojtek-fliposports commented on #172
I'm just wondering about exposing `SECRET_KEY`, even when it is hashed. Does OpenID Connect specification say anything about that? I mean when user is logged out the Session State string will be the same.

maybe `get_session_state` should be rewritten to something like this:

[code]

[2017-04-13 09:17] gertjanol commented on #172
Hm, you're right about the `SECRET_KEY`. That should not be exposed in any way.

I _think_ your second proposal looks good, but I'm no expert on the OIDC spec.

[2017-04-13 09:32] kerrermanisNL commented on #172
Hi, just wondering. How would the system know that the session state is correct if we just use a random key? Shouldn't that be saved somewhere? Or is it not important what key is used? Is the key not necessary for other parts of the system to check sessions etc.?

Just shooting off some questions, I'm not particularly well read in this :)

[2017-04-13 09:58] wojtek-fliposports commented on #172
according to spec this  SessionState should change when session state has been changed. So when user is not logged in the String should be the same, because when changing it to random will be forcing to send `changed` message to RP IFrame.

I'm thinking we should create new settings property `NONAUTHENTICATED_SESSION_KEY` and place there some random chars as constant value.

[2017-04-13 16:16] gertjanol commented on #172
I don't think it's a good idea to have a static value. That would cause the unauthenticated sessions to be very easy to hijack. While maybe not that important for _un_ authenticated sessions, it's not good practice. This is also the bad thing about the current use of Django's `SECRET_KEY`: it exposes the key, which is bad and it yields a static value for all clients, which might be even worse.

I

[2017-04-14 10:28] gertjanol commented on #172
Ok, I now get why you propose the new setting for unauthenticated sessions :). I'm not sure how bad it is that this value will be the same for all unauthenticated visitors. Is it a security risk?

[2017-04-14 11:43] wojtek-fliposports commented on #172
@gertjanol I think you don't understand whole mechanism.

When user is not logged in his session state is A, When user has logged in his session state is B.
On RP site (OIDC Client)  compares both values. If it has changed (A not eq B) then takes action Session changed.
When user goes to RP site and once again receives session state B that means that session state has not been changed.
Lets assume

[2017-04-14 11:53] gertjanol commented on #172
I learned a lot about the concepts and mechanism trying to create a solution that (a) keeps Session Management working and (b) fixes the bug where the KeyError is raised.

I came up [with this](https://github.com/juanifioren/django-oidc-provider/compare/v0.4.x...gertjanol:fix-keyerror-on-cookie), which seems to work for our use. case.

[2017-04-14 12:20] wojtek-fliposports commented on #172
Idea is nice but will not work for scalable, microservice architecture. Every time server boot's up it will generate different key, so when load balancer put request to machine A and next to machine B, RP will receive different session states.

What about using hash of public first RSA key used to sign JWT token ?

[2017-04-14 13:18] gertjanol commented on #172
Sure, we use a setup like that :). This will only happen for sessionless, unauthenticated clients, right? So that's not that big of a deal. And I figured that users can just configure the setting themselves if they really need a constant value across multiple servers for these visitors.

Is it even possible/plausible to have a use case where there is an RP with an iframe, while the visitor is unau

[2017-04-14 14:40] wojtek-fliposports commented on #172
I agree :)
Thanks for great contribution btw 👍

If You provide some tests, extends docs and create PR to develop branch I will be more than happy to review and merge your PR

[2017-04-15 07:32] gertjanol commented on #172
👍

[2017-04-17 04:37] pichlou commented on #156
Hi @juanifioren,yes i used it by tracing and reading your doc for declare new scope or override available scopes
Thanks for your reply :)

[2017-04-17 04:45] pichlou commented on #157
Hi @wojtek-fliposports i needed extract id_token from response object that be changed with JWT
Thanks for your reply :)

[2017-04-18 12:45] gertjanol commented on #172
Ok, TDD'd everything in #173. BTW: are you aware of the fact that Session Management isn't compatible with Django 1.7, 1.8 and 1.9, thanks to the usage of MiddleWareMixin? That's only available since 1.10. But there weren't any tests that touched the middleware, so tests didn't pick it up. Fixed this in 26b2efe.

[2017-04-18 12:52] bracki commented on #170
Everything works as expected, my bad.

[2017-04-18 12:52] #170 closed

[2017-04-18 15:08] #172 closed

[2017-04-22 16:22] wojtek-fliposports opened #175 "Auto-accept consent for public clients"
@juanifioren I have found your commit 3f59921
Where did you found spec that public client can't auto-accept consent ?

[2017-04-24 06:47] Li-ReDBox opened #177 "Question: if there is plan (or already implemented) to support introspection endpoint?"
This end point can be useful to a resource server to check the status of an access token. The spec: https://tools.ietf.org/html/rfc7662. Some examples of its usages: https://connect2id.com/products/server/docs/api/token-introspection.

Not sure if I have checked all sources.

[2017-04-24 07:07] wojtek-fliposports commented on #177
Thank You for this question.

It's a nice documentation for this end point and if you can you can create you can be part of this lib and contribute a Pull Request.

Despite that  I'm using JWT token as authentication token and protecting my microservices with it. JWT token have signature to verify, `exp` key and when you combine it with ID_TOKEN_PROCESSING_HOOK you can inject keys you need. Micros

[2017-04-25 15:45] hershaw opened #178 "Official support for Django 1.11"
Running on OSX with python 3.4 and no problems so far. I didn't see it as a supported version in the documentation though so I got a bit scared.

[2017-04-26 01:08] Li-ReDBox commented on #177
Thanks for the answer. If I go this path, I will do a pull request if I think my implementation meets all the specifications.

Your JWT solution sounds interesting. Do you have any documentation or examples? When ID_TOKEN_PROCESSING is called?

[2017-04-26 07:31] wojtek-fliposports commented on #177
OpenID Connect power is in JWT tokens (in `responce_type` called `id_token`). It can contain a lot of information about current logged user like email, is_admin or even permissions list by simply adding list of functions that injecting this data to the structure of JWT token:

http://django-oidc-provider.readthedocs.io/en/v0.4.x/sections/settings.html#oidc-idtoken-processing-hook

Here is basic in

[2017-04-27 07:03] Li-ReDBox commented on #177
Thanks for your help. I think you have answered all my questions.

[2017-04-27 07:03] #177 closed

[2017-04-30 15:37] koriaf commented on #78
I've been using code like [this](https://gist.github.com/koriaf/907d1e16068d1a04056eedf736a203f5) for oauth2 based auth and this library, I believe JWT auth implementation may have the same core idea, but slightly more complex. If it's helpful to anyone then it's good.

I hope in some time such auth backends will be included in this library, who knows.

[2017-05-08 22:44] wojtek-fliposports commented on #178
added TOX config for auto testing. Thx

[2017-05-08 22:44] #178 closed

[2017-05-31 19:25] runner4444 opened #186 "Why are scope query params used at the token endpoint?"
When grant_type is authorization_code and refresh_token the scope was declared in the auth request, and is already associated with the token, hence `token.code` should be used to create the id token, not `self.params['scope']`. See https://github.com/juanifioren/django-oidc-provider/blob/v0.5.x/oidc_provider/lib/endpoints/token.py#L203

[2017-06-02 15:56] wojtek-fliposports commented on #186
I will mark this question as `spec_required` but from my perspective it's a bug because you could change scope on every token refresh on even code exchange.

[2017-06-02 16:08] wojtek-fliposports opened #187 "Infinite redirect loop for `prompt=login`"
The bug is located in: https://github.com/juanifioren/django-oidc-provider/blob/v0.5.x/oidc_provider/views.py#L83
When user is authenticated, it should be logged out when prompt not contains `none` value.
Basically whole `prompt` is not handled in proper way:
http://openid.net/specs/openid-connect-core-1_0.html#rfc.section.3.1.2.1

I will try to fix `none` `login` and `consent` handling and skip `

[2017-06-02 19:26] runner4444 commented on #186
In the spec, I don't see the mention of scope being passed in the token request (http://openid.net/specs/openid-connect-core-1_0.html#TokenEndpoint). I think it definitely is a bug as you thought, because otherwise an application could extend the tokens scope without consent from the user.

[2017-06-05 13:36] wojtek-fliposports commented on #186
I agree, changed label to BUG. Can You provide PR for this?

[2017-06-06 09:13] #187 closed

[2017-06-06 15:58] runner4444 commented on #186
I will try to get to it by the end of this week. Will be a really minor change. I plan to leave the "create_access_token_response_dic" method the same.

[2017-06-08 13:52] juyrjola commented on #175
I read through the OpenID Connect specification as well and couldn't find any sources for this. @juanifioren: would you accept a PR removing this requirement (or at least making it configurable)? Having the consent dialog displayed every time a user logs in is not very friendly.

[2017-07-04 12:19] bracki opened #190 "`redirect_uri` checking is not spec compliant"
According to the [spec](http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) the server must fully match the given `redirect_uri`.

The [current implementation](https://github.com/juanifioren/django-oidc-provider/blob/v0.5.x/oidc_provider/lib/endpoints/authorize.py#L93) strips query parameters. This is non compliant and provides a potential security risk.

I would suggest sticking to

[2017-07-05 13:48] suutari-ai commented on #186
This was actually causing a problem for me, since the OIDC client lib I was using, didn't send the scope when requesting a token (as it's not supposed to) and therefore the returned ID token didn't have the right scope.

This is what I did to make it work:

https://github.com/suutari-ai/django-oidc-provider/commit/729624356a59ebfad24f7bd8adc6e6dcaa5f4fa1

That was preferring the scope from request

[2017-07-05 14:01] wojtek-fliposports commented on #186
I can agree. Scope should be taken from first auth request, when checking consents.
Can You provide some PR with tests for this ? If not, I will fix this asap and ask @juanifioren to release this security fix

[2017-07-05 14:05] wojtek-fliposports commented on #175
@juyrjola Have you checked OAuth2 specification? I could not find it either.

[2017-07-05 14:08] wojtek-fliposports commented on #190
Agree. Do You have any PR for that ? If not I will try to provide fix with #186  and ask @juanifioren to do security release.

[2017-07-05 19:05] bracki commented on #190
Don't have a PR yet. Will prepare tomorrow.

[2017-07-07 07:01] bracki commented on #190
OK. #191 addresses the issue. Maybe you can take a look at it @wojtek-fliposports.

[2017-07-07 07:03] wojtek-fliposports commented on #190
checking...

[2017-07-07 07:33] wojtek-fliposports commented on #190
Thank You for this great contribution. Merged

[2017-07-07 07:33] #190 closed

[2017-07-07 07:35] wojtek-fliposports commented on #175
I think #189 solves the problem here ? @juanifioren @juyrjola @suutari-ai ?

[2017-07-07 11:14] juyrjola commented on #175
That indeed does fix it. I believe this issue can be closed.

[2017-07-07 11:16] #175 closed

[2017-07-07 11:37] suutari-ai commented on #186
Looking into this currently. The fix is easy, but I'd like to double check the docs about this and write some tests too as suggested.

Btw. found out that not only the "code" grant type but also the other two grant types, "refresh token" and "password", have a similar problem.

[2017-07-07 11:46] wojtek-fliposports commented on #186
I think `password` is tricky.. look at this https://tools.ietf.org/html/rfc6749#section-4.3
This `password` is a OAuth2 Username-Password Authentication Flow. So for parameter `scope`I need to dive in into spec

[2017-07-07 11:54] suutari-ai commented on #186
Yep, for the password grant type it seems to be correct to use the scope provided to the token endpoint. Only problem with that in the current implementation is that the scope parameter is not splitted correctly when passed to create_id_token, i.e. `"openid email"` is being passed but correct would be `["openid", "email"]`.

[2017-07-07 14:31] osborn opened #192 "TypeError at /userinfo __init__() takes exactly 2 arguments (3 given)"
This is what happened when I tried to implement custom scopes as specified in the documentation. I even pasted the same code just to be sure.

[code]

[2017-07-07 14:46] wojtek-fliposports commented on #192
Can You paste whole StackTrace ?

[2017-07-07 14:52] osborn commented on #192
Environment:

Request Method: GET
Request URL: http://localhost:8000/userinfo

Django Version: 1.10
Python Version: 2.7.13
Installed Applications:
['django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'myapp',
 'oidc_provider']
Installed Middleware:
['django.contrib.sessions.middlewar

[2017-07-07 14:57] wojtek-fliposports commented on #192
What is your `'OIDC_USERINFO'` setting value ?

[2017-07-07 15:11] osborn commented on #192
`'myapp.oidc_provider_settings.CustomScopeClaims'`

I keep the oidc_provider_settings.py file in the app.

[2017-07-07 15:45] wojtek-fliposports commented on #192
Ok. This a BUG in documentation.
Instead of `OIDC_USERINFO` you should change `OIDC_EXTRA_SCOPE_CLAIMS` setting.

[2017-07-07 15:46] osborn commented on #192
Ok. Thank you very much. You saved my day!

[2017-07-07 15:47] #192 closed

[2017-07-07 19:36] suutari-ai commented on #175
Is there a new release planned from the develop branch soon?

It would be nice to have the fix from #189 released too. (Didn't understand why it wasn't merged into v0.5.x as I was hoping.)

[2017-07-10 16:11] #186 closed

[2017-07-11 14:53] wojtek-fliposports commented on #143
I can't reproduce this error on MySQL, ProgreSQL and SQLite database engines.  Maybe this is DB specific bug, not related with this lib.

[2017-07-11 14:53] #143 closed

[2017-07-17 11:37] bracki opened #197 ""prompt=login" is still stuck in infinite loop"
When you supply `prompt=login`but are not authenticated this [part](https://github.com/juanifioren/django-oidc-provider/blob/v0.5.x/oidc_provider/views.py#L127) of the code will redirect you to the login. After logging in it will see `prompt=login` and immediately log you out again.
The appropriate behaviour should be to ignore `prompt=login` if the user is not authenticated.

[2017-08-10 08:00] tonioo opened #200 "0.5.1 release not available on PyPI ?"
Hi, looks like the latest release (0.5.1) is not available on PyPI. Is it intentional?

[2017-08-10 09:36] wojtek-fliposports commented on #200
Yes, it has a bug and please use latest `develop` version. Soon we will deploy version 0.5.2

[2017-08-10 09:36] #200 closed

[2017-08-10 09:36] #197 closed

[2017-08-10 09:48] tonioo commented on #200
Ok thank you for the information.

[2017-09-01 21:01] psavoie opened #207 "Use of pyjwt instead of pyjwkest"
An independent security review alerted us that the json web token library pyjwkest depends on pycryptodome, and strongly recommended the use pyca/cryptography for the low-level crypto instead.
We'd like to change the jwt implementation to pyjwt. Pyjwt uses the cryptography library instead of cryptodome already.
If people feel strongly that pyjwkest should still be used, we can make it configurable

[2017-09-02 21:33] wojtek-fliposports commented on #207
From my side +1 for idea. Can you provide PR for current develop branch ?

[2017-09-02 21:33] #116 closed

[2017-09-11 14:53] wiliamsouza commented on #207
Some days ago I'm looking for a lib to use for JWK, JWS, JWE and JWT it seems https://github.com/latchset/jwcrypto is the most complete option available. Did you evaluate this lib?
I choose was based on it's encryption support which is missing in https://github.com/jpadilla/pyjwt.

[2017-09-11 17:17] psavoie commented on #207
Good question, I think that library is substantially less popular/active then pyjwt.

Encryption support is not needed for this project, and so we should stick with the thing that has a narrower scope.
If you need the encryption part for your project, you should install that library independently.

[2017-09-15 10:00] dedsm opened #209 "Shouldn't scope claims be included in the id_token if it's the only thing asked in the response_type"
If I understand correctly, the when using response_type=id_token, all claims belonging to the requested scopes should be included in the id_token payload.

[2017-09-26 15:38] thomai commented on #153
@juanifioren Do you plan to support that in the near future or do you know whether someone is working on a pull request?

[2017-09-27 08:21] wojtek-fliposports commented on #153
This can be hard to implement, because OpenID authorizes user and OpenID Connect token is used i.e. in Django Rest Framework to log in user. Client is not a user.

In my project I have created user for Client and I am performing "Password Auth Flow" to solve this impediment.

[2017-10-30 10:23] XeniaGabriela opened #212 "Certification by openID Foundation"
Dear Juan,

this is merely a question than an issue. Can you tell me, why your library has not attained the certification of the OpenID Foundation yet?
I worked with it within the pilot phase of a banking project and it would be lovely with certification for real.

Regards,

Xenia

[2017-11-07 22:56] wojtek-fliposports commented on #212
Dear Xenia,
Do You know how to perform this process ? Can You help us with that?

[2017-11-07 22:57] wojtek-fliposports commented on #209
Do You have any spec for that?

[2017-11-09 10:51] XeniaGabriela commented on #212
Yes, check out this link:

http://openid.net/certification/

The foundation’s certification process utilizes self-certification and a conformance test suite developed by the foundation. After the successful conformance test you can use the “OpenID Certified” certification mark.

[2017-11-13 13:07] dedsm commented on #209
no, can't find anything other than the id_token MAY include more claims, but it'd be a nice to have IMHO

[2017-11-15 15:44] dkdndes commented on #212
Hello Juan,

as OpenID member your need to pay 200 USD for the certification process

* https://openid.net/foundation/members/certifications/new

Would that be of interest to you?

[2017-11-26 13:43] dhrp opened #213 "Let issuer be domain"
Currently the 'issuer' for the id_token is generated with:

[code]

But there is no reason the 'issuer' has to include the some path. If you look at google, they have a clean issuer: https://accounts.google.com/.well-known/openid-configuration

What I propose is a simple setting to set the issuer using settings. `OIDC_ISSUER`. This would require the user to also make a route to the ProviderInfo on

[2017-11-28 10:12] dhrp opened #214 "id_token doesn't include claims"
I've spent significant time on this and am now pretty sure there is an error causing no additional claims to be returned in the JWT when additional scopes (e.g. email, profile) are requested.

Steps to reproduce (authorization code flow):

Requests authorization code with scopes 'idtoken email profile'

Use the code, client_id and client_secret with the same scopes to fetch the access token, id_to

[2017-11-28 10:14] dhrp commented on #214
I've added a PR illustrating the issue in a test.

[2017-11-28 11:08] wojtek-fliposports commented on #213
I must disagree with you.
Look at: https://openid.net/specs/openid-connect-discovery-1_0.html#rfc.section.4.1

[2017-11-28 11:08] #213 closed

[2017-11-28 11:19] dhrp commented on #213
Well; and I'll quote your quote, look at the part in bold:

What I was suggesting was that the domain MAY be the domain. Currently the library does not allow one to specify it at all, and I think it will be a useful addition..

[2017-11-28 11:43] wojtek-fliposports commented on #214
Once again I must close this request. As is written here: http://openid.net/specs/openid-connect-core-1_0.html#IDToken and here http://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

Basically, claims: "_They can be requested to be returned either in the UserInfo Response, per Section 5.3.2, or in the ID Token, per Section 2._ "  and in section 2: _"ID Tokens MAY contain other Claims

[2017-11-28 11:45] wojtek-fliposports commented on #213
If you release OIDC application in urls under root path then issuer will contains only domain

From: Thatcher <notifications@github.com>
Reply-To: juanifioren/django-oidc-provider <reply@reply.github.com>
Date: Tuesday, 28 November 2017 at 12:19
To: juanifioren/django-oidc-provider <django-oidc-provider@noreply.github.com>
Cc: Wojciech Bartosiak <wojtek@flipsports.com>, State change <state_change@

[2017-12-04 08:44] Allan-Nava opened #217 "Internal Server Error: /openid/callback/login/"
I have got this error:

[2017-12-05 04:05] timatooth opened #218 "Django 2.0: 'bool' object is not callable is_authenticated"
Field is not callable as a method anymore in Django 2.0
in `oidc_provider/views.py`

https://docs.djangoproject.com/en/1.11/ref/contrib/auth/#django.contrib.auth.models.User.is_authenticated

Looks like this was changed in 1.10 so should support for prior versions be dropped?

[2017-12-05 05:01] wojtek-fliposports commented on #218
I think @juanifioren need to make decision about dropping version support

[2017-12-05 07:32] suutari-ai commented on #218
Why not just write a simple wrapper like the following so that backwards compatibility wouldn't be any issue? (Nor it wouldn't matter which Django version changed it)

[code]

[2017-12-13 06:08] dhrp commented on #217
Check that your 'address' claim is valid. In your output I can see:

TypeError: <oic.oic.message.AddressClaim object at 0x7fe8c7626cc0> is not JSON serializable

[2017-12-13 06:10] dhrp commented on #213
Would you welcome a PR that makes the path for the ISSUER configurable?

[2017-12-13 06:11] dhrp commented on #213
i.e. https://github.com/dhrp/django-oidc-provider/tree/feature/issuer_path

[2017-12-13 08:56] reinout commented on #218
Pull request #216 fixes this.

[2017-12-14 17:23] dhrp commented on #214
ok. I've contributed a PR. See. #220. I've tried to make it light and straightforward.

[2017-12-14 17:29] wojtek-fliposports commented on #218
merged

[2017-12-14 17:29] #218 closed

[2017-12-18 15:28] dhrp opened #222 "Allow auto-consent for authorisation code flow as well."
I have used several other libraries for oAuth, but have not before seen the limitation that public clients with an authorisation grant flow MAY NOT auto-approve consent.

In my use-case I am using two different applications, that we ourselves develop and use oAuth for that (public authorisation code flow). We don't want our users to have to consent every time, I could also not find it in the spec.

[2017-12-18 15:28] dhrp commented on #222
I'd be happy to make a PR for this..

[2018-01-12 13:12] harwee opened #223 "What Client library to use with DOP and Django"
I was wondering what django-app/library is being used to make a django oidc client. I am facing issue with private client authorization, can anyone point me to a source to read about private client authorization with django

[2018-01-13 23:04] montudor commented on #223
[mozilla-django-oidc](https://github.com/mozilla/mozilla-django-oidc) may be useful to you for this purpose.

[2018-01-14 13:16] harwee commented on #223
I have looked into it, but the License makes it difficult to use with my project, I ended up starting to write the implementation from scratch as i didn't find any other library which is being maintained.

[2018-01-14 13:16] #223 closed

[2018-01-15 17:04] Allan-Nava opened #226 "Received state not the same as expected"
I got this error:
**Received state not the same as expected**

[code]

How can I fix this error?

[2018-01-19 08:12] Allan-Nava commented on #217
@dhrp How can I fix this error?

[2018-01-19 10:07] dhrp commented on #217
Take a good look at your address claim. Possibly it contains objects that are not JSON serializable. Try to json.loads() your body manually. Possibly you can also just not ask for the address scope in your request.

[2018-01-19 11:08] Allan-Nava commented on #217
Ok thanks!

2018-01-19 11:07 GMT+01:00 Thatcher <notifications@github.com>:

[2018-01-21 13:27] dhrp commented on #217
Go ahead and close this issue if you've solved your problem.

[2018-01-21 19:19] #217 closed

[2018-02-02 13:53] jbagot opened #230 "Expire time for refresh token"
I think would be fine if the refresh token will have the option to be expired. I can do a PR if is your are agree with that.
Sometimes is interesting have a refresh token with expire time. If we want to do a long live token with 60 days of inactivity and after this 60 days the user must relogin.
Let me know if it's interesting for you and I can implement it.

[2018-02-05 16:14] mdaniline opened #232 "Token introspection"
I have added a [pull request](https://github.com/juanifioren/django-oidc-provider/pull/231) to add basic functionality for token introspection (see https://tools.ietf.org/html/rfc7662).

I'd be grateful for any reviews, comments or the like :)

Thanks

[2018-02-20 02:34] juanifioren commented on #226
Hi @Allan-Nava are u using other package for the client part?.

[2018-02-26 13:47] Allan-Nava opened #234 "File "/usr/local/lib/python3.5/dist-packages/django/contrib/sessions/backends/base.py", line 57, in __getitem__ return self._session[key] KeyError: 'op'"
Hi, i have this error:

[code]

[2018-02-26 13:58] juanifioren commented on #234
This error belongs to another implementation of an OIDC Client.
https://github.com/marcanpilami/django-oidc/blob/master/djangooidc/views.py#L81

Only reading code, maybe you need to complete some kind of form providing server provider information.
https://github.com/marcanpilami/django-oidc/blob/master/djangooidc/views.py#L48

[2018-02-26 13:58] #234 closed

[2018-02-26 14:00] juanifioren commented on #226
State is checked by tests. Maybe this error belongs to another OIDC client implementation. Reopen this if you want more help.

[2018-02-26 14:00] #226 closed

[2018-02-26 14:03] juanifioren commented on #212
Hi @XeniaGabriela, right now is out of my budget. Maybe we can make a collect for this.

[2018-02-26 14:40] Allan-Nava commented on #234
Yes, but it seems that in ` oidc(request) ` function, request.session is with needed information, but in `authn_cb(request, op_name=None)` it crashes, because session has no both 'op' and 'next' parameters.

How can we do?

[2018-03-11 17:59] karimcse opened #235 "manage.py not found"
I am newbie to python django.
I cannot find manage.py in full repository.
Please help for running this django project

[2018-03-12 12:44] juanifioren commented on #235
Hi @karimcse, the project is a Django package so there's no need for a `manage.py` file (that's for apps). Check out example folder [here](https://github.com/juanifioren/django-oidc-provider/tree/v0.5.x/example_project#manually). Please ask me if you have another question.

[2018-03-13 02:30] #235 closed

[2018-03-22 18:33] #139 closed

[2018-03-23 17:20] juanifioren opened #236 "Fix flake8 fails on tests"

[2018-03-28 17:32] #236 closed

[2018-04-08 21:54] juanifioren commented on #153
Already supported on `develop` branch. It should be released on the next version. Any comment or test is welcome.

http://django-oidc-provider.readthedocs.io/en/develop/sections/oauth2.html#client-credentials-grant

[2018-04-09 12:48] dedsm opened #238 "Make Resource Owner Password Credentials Grant an option per client"
I have a use case where I'd like to use my oidc server with both trusted and untrusted clients, it would be great to have a way to set the grant per client.

Also, if I understand correctly the RFC, in https://tools.ietf.org/html/rfc6749#section-4.3.2 it mentions that confidential clients _should_ be authenticated in order to get the token in behalf of the user, strangely enough, it doesn't forbid

[2018-04-09 15:05] juanifioren commented on #97
I'll close this. This feature was not merged.

[2018-04-09 15:05] #97 closed

[2018-04-09 15:10] juanifioren commented on #10
For now, we'll keep this optional

[2018-04-09 15:10] #10 closed

[2018-04-10 21:46] juanifioren commented on #209
Already on `develop`. Next version will contains this feature. Thanks for reporting @dedsm.

http://django-oidc-provider.readthedocs.io/en/develop/sections/settings.html#oidc-idtoken-include-claims

[2018-04-10 21:46] #209 closed

[2018-04-10 21:46] juanifioren commented on #214
Already merged on `develop`. Next version will contains this feature. Thanks for reporting and colaborate @dhrp .

http://django-oidc-provider.readthedocs.io/en/develop/sections/settings.html#oidc-idtoken-include-claims

[2018-04-10 21:46] #214 closed

[2018-04-12 02:20] #153 closed, assigned to nobody

[2018-04-13 03:07] juanifioren commented on #213
Sorry I was out of this conversation. @dhrp could you show me an example of an existing OP issuer is not the same as the root provider url. Thanks

[2018-04-13 20:05] juanifioren commented on #223
@harwee use http://python-social-auth.readthedocs.io/en/latest/

[2018-04-25 16:32] toti1212 opened #239 "Scopes in concent/authorization"
Hi Juni,

I don't understand something about scopes and authentication endpoint.
When the user accept the concent, are in the url all the scopes that accept? What happen if I can handle the url, adding more scopes? I can see that the template render the scopes that read in the params, but.. the user can manipulate it?

Its a good aproach only send the `openid` scope and get the others from the Cli

[2018-04-25 17:30] juanifioren commented on #239
Hola Rodrigo.

Yes! the package extract scopes from URL, but only those who are registered on the Provider will be printed on the consent template. So if the user manipulate the url there are two possible scenarios:

- Adding more scopes: no undesirable effects here, if extra scopes are not registered by the Provider. If they are, the user will see them and approve the consent.
-  Removing some sc

[2018-04-27 14:06] toti1212 commented on #239
Thanks!

[2018-04-27 14:06] #239 closed

[2018-04-30 18:00] #232 closed

[2018-05-14 08:23] ahmedhosnycs opened #240 "Issue| request object is not sent in authenticate"
I see `TokenEndpoint` class in `oidc_provider/lib/endpoints/token.py` is calling authenticate method incorrectly.
[code]

without `request` parameter. I do believe that sending it like:
[code]

will help me for add further functionalities by overriding the `authenticate` method only.

[2018-05-14 15:36] q3aiml commented on #240
I found this useful too and have a PR open #221

[2018-05-15 10:38] ahmedhosnycs commented on #240
@q3aiml is it now 7 months for PR to be reviewed and merged?

[2018-05-15 13:47] juanifioren commented on #240
Merged into `develop`. Thanks for reporting.

[2018-05-15 13:47] #240 closed

[2018-05-18 13:12] orzel commented on #60
yes...? No .... ?

[2018-05-18 13:14] orzel commented on #212
Sure, and it would be quick to reach.

[2018-05-18 13:39] orzel commented on #60
# Django
from django.core.management.base import BaseCommand
from django.utils import timezone

# Project
from oidc_provider.models import Token, Code

class Command(BaseCommand):
    help = 'Remove expired entries for Token and Code'

    def handle(self, *args, **options):
        now = timezone.now()
        old_tokens = Token.objects.filter(expires_at__lt=now)
        old_codes = Code.objects.

[2018-05-18 15:04] juanifioren commented on #60
@orzel Hi! yes sorry. This feature is cool. But there is a problem. I want to create stats about token usage in the future. So this will remove those tokens, that are important info.

Example useful stat: Client A had 12k logins with different users in January 2017.

[2018-05-23 19:23] herchila opened #241 "Don't allow to add wildcards in the redirect uri field"
According to this document (https://tools.ietf.org/html/rfc6749#section-3.1.2), is it possible to validate that in the creation of clients it does not allow to add wildcards in the redirect_uri field?

[2018-05-23 20:12] ggjersund opened #242 "Question: Combining OIDC provider with REST Framework"
Is there a way to combine this provider with Django REST framework? Or does OIDC Provider come with an authentication backend middleware?

I want to be able to simply accept the access token on my API and extract the user information (same database) from it. I've tried reading through the code, and the docs, however, I couldn't seem to find any information about this.

TLDR; I have a resource serv

[2018-05-23 20:20] juanifioren commented on #242
DUPLICATE. SEE https://github.com/juanifioren/django-oidc-provider/issues/78

Hi @ggjersund. This is a feature we want to add. Here it's some code created by @koriaf about an integration with DRF.

https://gist.github.com/koriaf/907d1e16068d1a04056eedf736a203f5

[2018-05-23 20:20] #242 closed

[2018-05-23 20:21] ggjersund commented on #242
@juanifioren Does this work for all the token types? or just bearer?

[2018-05-23 20:27] juanifioren opened #243 "Support Form-Encoded Body Parameter for access_token"
Current support:

- Authorization Request Header Field
- URI Query Parameter

Read more: https://tools.ietf.org/html/rfc6750#section-2.2

[2018-05-23 20:28] wojtek-fliposports commented on #242
I'm using own Auth class to validate OpenID Connect JWT tokens in DRF. I will try to PR with authentication DRF class. One question to @juanifioren does scopes are included inside token in the latest version of this lib?
If not, I will also provide ID_TOKEN processing hook to inject scopes inside token

[2018-05-23 20:33] suutari-ai commented on #242
@wojtek-fliposports Do you mean like in PR #194?

[2018-05-24 15:17] juanifioren commented on #241
:+1: each of the redirect URI should be validated. I was thinking using [URLValidator](https://docs.djangoproject.com/en/2.0/ref/validators/#urlvalidator), but we also nee to support urls like this one: `fb://profile/33138223345`.

[2018-05-30 17:38] toti1212 opened #244 "[Q] Scopes accepted as user and scopes saved in models (client, userconsent, token)."
Hi.

As a User, I can accept concent that involves a list of scopes that Client doest have in their model.(client._scope), the package create a instance of Authorization Code that have that list. So, in the userinfo i can get that information?

I my code check that user consent save the intersection between Client scope and URL scopes.
you did not do it for something? or am I wrong?

[2018-05-30 19:15] juanifioren commented on #244
Hi @toti1212, nice question. But this is just a misunderstood. `Client.scope` is used by the Client Credentials Grant (an OAuth2 feature), which enables client to request an access token using only its client credentials (removing user in the flow).

Read more on docs: http://django-oidc-provider.readthedocs.io/en/develop/sections/oauth2.html#client-credentials-grant

[2018-05-30 19:15] #244 closed

[2018-05-30 19:34] juanifioren commented on #244
@toti1212 Please let me know if I answer your doubt.

[2018-06-15 11:40] mikkokeskinen opened #247 "Scopes are not found if a Claims class is inherited further"
We had a case where we needed to change StandardScopeClaims only a little. We then created a new class and added StandardScopeClaims as a base class. Like
[code]
The result was that the other scopes were not found any more. That is because in https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/lib/claims.py#L71 the scope names are searched from the classes using `__dict__

[2018-06-15 15:46] ggjersund opened #248 "Question: Can I have scopes without claims?"
I'm wondering if I can use scopes without claims in the case described [here](http://django-oidc-provider.readthedocs.io/en/latest/sections/scopesclaims.html#how-to-add-custom-scopes-and-claims). Or is this considered bad practice?

I want to use scope to give access to my API, but I dont wish to return anything for the specified scope in the `/userinfo` url. Is this valid? or is it the actual way

[2018-06-15 15:48] ggjersund commented on #248
Also, is there a hook for returning an error if a client makes a request to a scope, but the user hasn't consented to a policy concerning this scope? Wondering due to the new privacy laws in effect, and I need users to consent to scopes individually to make it possible to manage individual parts of my API.

[2018-06-15 15:57] juanifioren commented on #248
Hi @ggjersund
*1st question*
Yes you can! just return empty `{}`. Is a valid usage.
*2nd question*
That is out of the scope of openid, and can be implemented appart. Fox example when user clicks "accept policy" you store `user, scopes, date, etc` then you can use [OIDC_AFTER_USERLOGIN_HOOK](http://django-oidc-provider.readthedocs.io/en/develop/sections/settings.html#oidc-after-userlogin-hook) to c

[2018-06-15 15:57] #248 closed

[2018-06-15 15:59] juanifioren commented on #248
Remember this when using OIDC_AFTER_USERLOGIN_HOOK

[2018-06-15 16:07] ggjersund commented on #248
@juanifioren However, what if the policy is updated, but the user is still logged in? or is the user login referencing to client login?

[2018-06-15 16:33] ggjersund commented on #248
@juanifioren I would have that as well, but does `OIDC_AFTER_USERLOGIN_HOOK` reference to client login (e.g click to login with Facebook and redirect back) or provider login (e.g login to Facebook before authorizing and redirecting)?

[2018-06-15 17:07] juanifioren commented on #248
It happens between user logs in and showing OpenID authorization.

[2018-06-17 20:10] juanifioren commented on #244
@ggjersund Random example: You want to expose an API that shows how much users loggued in some specific Client. Then Client use that endpoint to access that information. Using client credentials grant would access only the number that belongs to it. Users can't access, neither other clients.

[2018-06-18 18:25] happy-dev opened #249 "CORS - OPTIONS request blocked on userinfo request"
Hi guys,

Thank you for this great application. It saved us a lot of time.

If the client app is not served by the same server as our Django OIDC provider, the OPTIONS request triggered by the browser on the `/openid/userinfo` URL fails for three reasons :

- because the `OPTIONS` HTTP verb is blocked by the application
- because the `Authorization` header is not sent to the server in the OPTIONS

[2018-06-18 21:40] brianorwhatever opened #250 "User association with client credentials flow"
I want to use the client_credentials flow to allow server to server authentication with an API. My api will receive the access token and send it to my oidc server's userinfo endpoint. This currently results in a 500 because there is no user associated with that token. I would like to create a 1 to 1 relationship between these types of clients and users (using the owner field). Is it possible to ad

[2018-06-19 14:29] juanifioren commented on #249
Hi @happy-dev, nice to hear this lib helps you.

The spec says:

So we can't add OPTIONS to the userinfo endpoint. If we add `Access-Control-Allow-Origin: *` header, django will be still blocking the request.

I'll check what others frameworks are doing with this.

[2018-06-19 15:23] juanifioren commented on #250
Hi @brianorwhatever, client credentials flow is intended for use in machine-to-machine authentication. Yes, this will break the spec for userinfo endpoint. You can still create your own service and use credential grant.

Read more: http://django-oidc-provider.readthedocs.io/en/latest/sections/oauth2.html#protecting-views

[2018-06-19 15:23] #250 closed

[2018-06-19 15:49] q3aiml commented on #249
@juanifioren The spec also states:

Supporting OPTIONS is part of supporting CORS: https://www.w3.org/TR/access-control/. The preflight OPTIONS request is a side effect of a GET or POST request issued by the client. The OPTIONS implementation only needs to return the relevant headers -- it does not need to carry out the full userinfo request or return the standard response body.

[2018-06-19 17:01] brianorwhatever commented on #250
I believe the token introspection endpoint is what I am looking for which was merged into develop in April https://github.com/juanifioren/django-oidc-provider/pull/231
Any idea when you might release this?

[2018-06-19 17:28] q3aiml commented on #250
Token introspection endpoint currently relies on id_token and also 500s with access tokens generated from client credentials grant

[2018-06-19 18:54] juanifioren commented on #250
@q3aiml Sorry, but client credentials grant is not intended for authentication mechanisms. Since you are leaving the user out of the flow. I don't get your point.

[2018-06-19 19:14] q3aiml commented on #250
I agree with you when you said earlier that client credentials flow is for machine-to-machine authentication. Can you help me understand what you are now saying? I am reading it as the exact opposite of that earlier statement.

What we would like to do is machine-to-machine authentication where the resource server and authorization server are separate and do not share the django-oidc-provider data

[2018-06-20 07:35] happy-dev commented on #249
@juanifioren : Thanks for your response

@q3aiml : Exactly. I think you understood perfectly

[2018-06-25 16:54] valintepes opened #252 "JWT Access tokens, Resource server access token verification, and token expiration endpoitns"
Hi, this is a general usage query.  I am relatively new to OIDC and django oidc.  That might give you some context if my questions seem non-sensical.  Onto the questions.

The documentation regarding access tokens only show a ... definitely-not-JWT token.  I'd like to be able to generate JWT access tokens, with custom payloads (custom beyond what's required to be conformant JWT that is).  Is this

[2018-06-25 17:19] juanifioren commented on #252
Hi @valintepes, first thanks for the feedback.

**The documentation regarding access tokens...**
Not in the roadmap for now. The OAuth2 support is just the basic, endpoint protection with token validation, etc. We try to keep the package closed to openid features (not spreading so much).

**Also, regarding token expiration...**
Token instrospection endpoint is pending release. But no, we don't sup

[2018-06-26 17:17] #252 closed

[2018-06-26 22:09] thebjorn commented on #249
You're not. We ran head first into this issue as well (trying to do an ajax call to a 3rd party that authenticates against us..). We've punted on it for the time being so I'm very happy there is a solution.

[2018-06-28 16:33] q3aiml commented on #250
@juanifioren have you had any thoughts about this and increasing the usability of client credentials grant? Would you prefer I open a different, broader issue and move the discussion there?

[2018-06-29 15:29] juanifioren commented on #250
@q3aiml please, let's discuss what the best for this

[2018-07-02 17:23] juanifioren commented on #249
to be released on next version

[2018-07-02 17:23] #249 closed

[2018-07-02 22:18] boris900305 opened #253 "Token Model crashes in Django Admin when a token has been given to a Client using Client Credentials"
When a client request a token using client credentials, this is token is created with no user id associated, so in models.py, on line 152, when it tries to access self.user.email, it crashes because there is no associated user. It can be easily fixed with an if, to check first. For example:
`def __str__(self):
        return u'{0} - {1}'.format(self.client, self.user.email if self.user else self.c

[2018-07-05 21:38] juanifioren commented on #253
Fix d825061508b485310c601844b6ecbe47f7c9721d

Thanks for reporting @boris900305

[2018-07-05 21:38] #253 closed

[2018-07-06 17:09] q3aiml commented on #250
@juanifioren thanks so much for being open and spending your time to talk about this. I opened #256 as an example of how introspection could support client credentials tokens. It isn't perfect but hopefully it gives a clearer idea what I am thinking. Let me know what you think

[2018-07-19 14:21] juanifioren opened #257 "Token instrospection documentation"
We need to create a token instrospection section on docs to provide examples of how to use the endpoint.

Help needed, feel free to contribute and reference this issue. Thanks!

[2018-07-23 16:55] dcollinsn opened #258 "Add support for Django 2.1"
Greetings,

Django 2.1 (currently available as django==2.1rc1 in pip) deprecates the function based views in django.contrib.auth.views. oidc_provider.views' EndSessionView will need to be refactored to subclass the newer LogoutView, which is probably fairly straightforward since your view is already a class-based view.

LogoutView was new in Django 1.11. I don't know whether you want to continue s

[2018-07-23 17:17] juanifioren commented on #258
Thanks, yes we should start adding 2.1 into tests. I think dropping 1.10 and lower shouldn't be a bad decision.

[2018-07-25 08:25] tassionoronha opened #261 "Add optional restriction for login redirection"
Greetings,

for a professional project I require that login (accounts/login/) be displayed only if an authorize process is started. In other words, if the user accesses the accounts /login/ route and does not have the data (redirect_uri, state, response_type and etc) I redirect it to /authorize/.

[2018-07-25 08:32] #261 closed

[2018-07-26 12:09] stdweird opened #262 "code is not zip safe"
code is not zip safe, and setuptools seems to misdetect it.

fix is as simple as adding `zip_safe = False,` to setup.py

issue we have is the following:
when adding `django-oidc-provider` to the `install_requires` of another django project, running the test of that project `django-oidc-provider` is installed as a zipped egg, and then the tests fail with
[code]

[2018-07-28 18:55] happy-dev opened #263 "Client Registration Endpoint"
Hi guys,

Is [this spec](https://openid.net/specs/openid-connect-registration-1_0.html) implemented by the lib ?
If it is, could you tell me the URI of the `Client Registration Endpoint` ?

All the best !

[2018-07-30 10:32] latusaki commented on #78
Is there any WIP for this ? I can't seem to find any libraries that provide this functionality, with the exception of https://github.com/ByteInternet/drf-oidc-auth..

[2018-07-30 13:08] juanifioren commented on #78
Nice to hear people pushing this. I'll consider this on next features. Srry for delay.

[2018-07-30 13:57] juanifioren commented on #262
Thanks for contributing @stdweird

[2018-07-30 13:57] #262 closed

[2018-07-30 14:02] juanifioren commented on #78
@latusaki when I start this issue I think something like this:
https://gist.github.com/koriaf/907d1e16068d1a04056eedf736a203f5

(by koriaf)

[2018-08-02 23:38] montudor commented on #78
If I get some free time, I'll try and help with this.

[2018-08-03 12:27] latusaki commented on #78
So this is what I am using now. This is used on a backend service, to verify Auth tokens received are valid. Code based off https://github.com/ByteInternet/drf-oidc-auth, but is working without users.

https://gist.github.com/latusaki/0f015643d55c2481bb7acd023c4203e3

[2018-08-03 14:58] juanifioren commented on #247
Fix released on `v0.6.2`.

[2018-08-03 14:58] #247 closed

[2018-08-05 18:32] ggjersund opened #267 "Clickjacking and disabled X_FRAME_OPTIONS for authorize endpoint"
Are X_FRAME_OPTIONS=False for the authorize endpoints? I'm wondering because I'm performing a silent refresh for an API, but I don't want my sign-in and sign-up forms to have iframe allowed.

[2018-08-05 21:26] juanifioren commented on #267
Hi today we are relying on [Django Clickjacking Protection](https://docs.djangoproject.com/en/dev/ref/clickjacking/). By default, `X_FRAME_OPTIONS = 'SAMEORIGIN'`.

[2018-08-06 09:04] ggjersund commented on #267
@juanifioren My bad. I think I missed a technicality when it comes to silent refresh on front-end clients. They are of course not loading the authorize endpoints inside an iframe at the client, but are simply using a default get request from the client, which redirects back to an iframe at the client.

[2018-08-06 17:31] juanifioren commented on #267
I do a little research about this: _authorization endpoints should be a different URL than the consent endpoint_. Some providers use different urls others the same.

So maybe you can create a feature request about splitting consent from auth request.

[2018-08-06 20:07] ggjersund opened #268 "Splitting consent view from authorization view"
Feature request for splitting the consent view from the authorization view to allow iframe authorization (required for silent refresh from javascript front-end clients), but still be able to protect consent view from clickjacking by using `@xframe_options_exempt`, `@xframe_options_deny` and `@xframe_options_sameorigin` decorators.

[2018-08-06 20:08] ggjersund commented on #267
@juanifioren Feature request added at #268

[2018-08-09 20:51] q3aiml commented on #267
Maybe I am misunderstanding this and #268, but from my experience silent renew (authorize iframe with `prompt=none`) already works. X-Frame-Options does not block a redirect -- it only blocks displaying content. When I do see framing fail due to X-Frame-Options it is often a client configuration issue such as an unregistered redirect_uri.

[2018-08-09 21:46] ggjersund commented on #267
@q3aiml So prompt=None basically ignores X-Frame-Options, by disabling the UI?

[2018-08-09 22:08] q3aiml commented on #267
Yeah, more or less. X-Frame-Options has no impact because the browser follows redirects regardless. And as you say prompt=none ensures the response is always a redirect by disabling the UI

[2018-08-10 13:38] ggjersund commented on #267
@q3aiml, then I have completely misunderstood the use of X-Frame-Options, I thought it disabled all possibilities of framing the website, and prevented any actions to be performed (even redirect). However, if this is the case, I guess one can close these two issues.

[2018-08-10 16:35] mitchelljkotler opened #269 "Check session iframe should check messag eorigin"
https://openid.net/specs/openid-connect-session-1_0.html

According the the spec, "The OP iframe MUST enforce that the caller has the same origin as its parent frame. It MUST reject postMessage requests from any other source origin. "

I do not see this check in the session check iframe provided.

[2018-08-16 13:44] HauptmannEck opened #270 "Set allowed response_types by grant."
In Identity Server there is the ability to have a client support multiple response_type's through setting an Allowed Grant (Implicit, Hybrid, ClientCredentials). This allows a Client to support both `id_token` and `id_token token`.

This is functionality that is used by `oidc-client-js` to get a simplified session status response.

Would this be something `django-oidc-provider` would support? or i

[2018-08-17 17:36] juanifioren commented on #270
To be released on `v0.6.3`. Thanks @HauptmannEck for reporting and @q3aiml for the MR.

[2018-08-17 17:36] #270 closed

[2018-08-28 10:21] meteozond opened #273 "end-session: DisallowedRedirect exception"
Looks like it happens because default redirect method used inside end-session->LogoutView views

https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/views.py#L364

[2018-08-28 15:47] juanifioren commented on #273
Ok, so we need to call logout manually and then do `return HttpResponseRedirect(url)` :thinking:

[2018-08-30 19:38] kitab15 opened #274 "Add support for ID Token encryption"
Hey there, we have used this amazing library for a while now.

Recently, we have received a request to add support for **ID Token encryption**.
It seems like [NIST SP 800-63c](https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-63c.pdf) defines *Federation Assurance Levels (FAL)* and to achieve the second level (the one we want) it is needed **signed and encrypted assertions** (ID To

[2018-09-01 19:45] juanifioren commented on #274
Hi @kitab15 the checklist seems OK to me.
Your feature request leaves me a question, now we are only encrypting `id_token` with OP keys. With this, before making de JWE we need to sign the token with Client (RP) keys.

- We should use JWE here, instead of JWS :thinking:
https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/lib/utils/token.py#L72,L88
- Support multiple clien

[2018-09-01 19:47] juanifioren commented on #274
About signing & encrypting: https://github.com/IdentityPython/pyjwkest/blob/master/doc/examples.rst#signed-and-encrypted-nested-jwt

[2018-09-03 16:32] kitab15 commented on #274
Hi @juanifioren!

With "_now we are only **encrypting** id_token with OP keys_" you meant **signing**, right?

I think that we need to sign the `id_token` with OP key (JWS) and then encrypt it with the RP public key (JWE). That way, both content integrity (JWS) and confidentiality (JWE) are guaranteed.

So, to answer your points:

- We should use both JWS and JWE (optionally).
- Totally agree on i

[2018-09-03 16:43] juanifioren commented on #274
For sure! submit PR asap. So I can help too.

[2018-09-03 19:52] kitab15 opened #275 "Add support for private_key_jwt client authentication"
Hi @juanifioren,

What do you think about adding support for other [Client Authentication](http://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication) mechanisms like: `private_key_jwt`?

If we succeed with #274 we will have a way to register a Client's RSA public key. Therefore we will be able to receive signed requests to `TokenEndpoint`. The client authentication method should be

[2018-09-04 09:21] Amoki opened #276 "How to handle scope updates ?"
The table `UserConsent` doesn't remember (unlike the North) the scopes validated by end users. If a user allows a scope of a client and then the client is updated with more scopes, is the client able to use these new scopes ?
Should I manually delete `UserConsent` rows with this client and force the logout of affected users to force a new /authorize ?

[2018-09-04 11:16] suutari-ai commented on #276
Actually `UserConsent` inherits from `BaseCodeTokenModel` which has a `_scope` (text)field (and a `scope` property to access its value). Though, I don't remember if the scopes are actually being checked when checking the consent for reuse.

[2018-09-04 12:31] Amoki commented on #276
Oh thanks, I missed that. So the `UserConsent` remembers.!

[2018-09-04 12:31] #276 closed

[2018-09-14 09:05] kerrermanisNL opened #278 "Make AuthorizationBackend and Client more easily adjustable"
Previously PR https://github.com/juanifioren/django-oidc-provider/pull/163 removed the settings for skipping consent. Instead the functionality was moved to the `Client` model, but it's quite hard to make changes to make sure custom `Clients` are used. So it would be nice to introduce some functionality that would improve this. I know it would be possible to make the change on the actual `Client`

[2018-09-14 10:45] kerrermanisNL commented on #278
Hm, I just realised that seeing it in the admin is probably explicit enough. Kind of a fail on my part :smirk: I still think the PR could prove useful though. I'll let you guys decide what to do with it.

[2018-09-14 13:58] juanifioren commented on #278
I think per-client edition on admin is quite good for the moment. Also that the logic should be on Client model (not another one). Thanks @kerrermanisNL

[2018-09-14 13:58] #278 closed

[2018-09-14 18:05] kerrermanisNL commented on #278
Yeah I agree. Somehow the admin stuff just hadn't occurred to me :+1:

[2018-09-19 12:00] ben-prezola opened #280 "URL namespaces"
I need to include the URLs in an apps `urls.py` that are already included and namespaced in the root urls. Can we make the the oidc_provider url namespace a setting

[2018-09-19 15:36] juanifioren commented on #280
Hi. I don't quite get your issue. I prefer keeping namespace fixed.

[2018-09-19 19:31] juanifioren commented on #280
@ben-prezola could you provide an example usage of your issue?. Thanks!

[2018-09-19 21:49] orzel opened #282 "Make version available in code"
something like
`from oidc_provider import version as oidc_provider_version`
Either as string, list of integers ([0,6,2]) or whatever.

[2018-09-19 22:24] stdweird opened #283 "bug in strip_prompt_login"
we have an url that ends with `&prompt=login%20consent` that is passed to authorize view.
the query_params https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/views.py#L209 has `u'prompt': [u'login consent']`
but then the code that follows treats this as a list, which fails and cause redirects (or some loop or whatever).

looks like a `.split()` is missing (similar to the

[2018-09-19 22:48] latusaki commented on #78
Have made some minor corrections since... do you want me to make a PR with the above Auth class? Any comments ?

[2018-09-20 08:11] ben-prezola commented on #280
Sure.

An example of what I mean can be found here: https://github.com/RealmTeam/django-rest-framework-social-oauth2 with the `DRFSO2_URL_NAMESPACE` setting.

To explain, I have quite a large project but to keep it simple let's say I have a a django project with 2 apps, `auth` and `users`. The urls are included and namespaced in the root url conf like so.

[code]

I want to include the `oidc_provi

[2018-09-20 15:16] juanifioren commented on #280
Ok, I see. Something like bulding dynamic urls with:

[code]

[2018-09-20 15:19] juanifioren commented on #78
@latusaki Please! would be great. I could help with documentation and tests.

[2018-09-20 21:11] latusaki commented on #78
Ok, will be sometime within a week 👍 Will probably need some corrections to make things more generic, as I have been developing against an in-house OIDC server.

[2018-09-21 08:07] ben-prezola commented on #280
that would be useful 🙂

[2018-09-25 01:30] vitalvas opened #284 "Add support of method for access control between user and client"
We need a mechanism to control where the customer can enter.

Examples:
- Grafana - only employees and partners
- VPN - only employees
- Billing - all users
- Some product - only beta testers.

I think - add to user model new method:
[code]

[2018-09-25 03:17] juanifioren commented on #284
Hi @vitalvas, you can use [OIDC_AFTER_USERLOGIN_HOOK](https://django-oidc-provider.readthedocs.io/en/latest/sections/settings.html#oidc-after-userlogin-hook) to stop before authorize view.

[code]

[2018-09-27 09:52] latusaki commented on #78
Might be a while before I do it properly as I am short on time, but have started here: https://github.com/latusaki/django-oidc-provider

Will look to integrate the existing claims classes etc properly.

[2018-09-28 23:30] ellmetha opened #285 "Incorrect id_token generation when using OIDC_IDTOKEN_INCLUDE_CLAIMS and OIDC_EXTRA_SCOPE_CLAIMS at the same time"
The problem appears when using the `OIDC_IDTOKEN_INCLUDE_CLAIMS` and `OIDC_EXTRA_SCOPE_CLAIMS` settings at the same time. In that case the generated `id_token` contains only the claims associated with the `OIDC_EXTRA_SCOPE_CLAIMS` setting (and not the standard claims that could've been requested during the authentication flow). The problem seems to be related with [this section of the codebase](ht

[2018-09-29 11:32] vitalvas commented on #284
It worked. Thank you.

[2018-09-29 11:32] #284 closed

[2018-10-03 14:43] kitab15 commented on #283
Hi @stdweird we ran into a similar problem some time ago, and we fix it adding a `.split()` as follows:

[code]

if @juanifioren agree I can make a PR with the change.

[2018-10-03 16:29] juanifioren commented on #283
Hi @kitab15, please! go ahead.

[2018-10-03 19:59] #283 closed

[2018-10-08 04:27] kitab15 commented on #257
I'm on it, I will make a PR as soon as possible.

[2018-10-10 20:53] happy-dev commented on #241
If I understood correctly, wildcards are not supported here, right ?
Does that mean there is no way to redirect the user to the URL he is coming from ?

[2018-10-14 09:18] bpereto commented on #207
What is the state of this? I would like to see pyca/cryptography beeing used.

[2018-10-14 10:07] bpereto opened #293 "[Bandit] security report"
Bandit security report
https://github.com/PyCQA/bandit

Proposal:
* [ ] Replace `pycryptodome` with `pyca/cryptography` (see #207  #208 )
  * > Issue: [B414:blacklist] The pycryptodome library is not considered a secure alternative to pycrypto.Consider using pyca/cryptography library.
* [ ] Update RSA Keysize
  * > Issue: [B505:weak_cryptographic_key] RSA key sizes below 2048 bits are considered b

[2018-10-15 21:08] #257 closed

[2018-10-15 21:14] juanifioren commented on #282
For now `from oidc_provider.version import __version__`. Maybe we can add a function like `get_version`, returning a tuple.

[2018-10-15 21:14] #282 closed

[2018-10-17 22:13] #258 closed

[2018-10-17 22:53] juanifioren opened #296 "Replace IdentityPython/pyjwkest with latchset/jwcrypto"
Related issues: https://github.com/juanifioren/django-oidc-provider/issues/207 https://github.com/juanifioren/django-oidc-provider/issues/293

**Problem:** replace `pyjwkest` with another lib based on `pyca/cryptography`, instead of `cryptodomex` (which has security review alerted).

**External links about this:**
https://github.com/mozilla/mozilla-django-oidc/issues/180
https://bandit.readthedocs

[2018-10-18 00:04] kitab15 commented on #296
I think #274 and #275 are related too.

[2018-11-04 09:38] divick opened #298 "Calling end-session with id_token doesn't seem to clear Tokens"
How do I clear tokens once the user logs out? Without this, calling /openid/authorize/ with appropriate data like client_id, redirect_uri, scope and response_type doesn't ask for reauthentication, instead simply redirects back, as the token still exists.

If I override the OIDC_AFTER_END_SESSION_HOOK, then I only get the client and id_token but I cannot lookup Token to delete from id_token.

Also

[2018-11-30 09:01] stefanfoulis opened #299 "Allow customizing the Access Token"
I want to customize the Access Token to be a JWT instead of just a random string so that it can be verified at the Resource Server without having to talk to the Authentication Server to verify it.

Is this a feature you'd be interested in having? I'd be willing to make a PR.

## Implementation thoughts

I was thinking to make the [line that creates the access token as a uuid](https://github.com/ju

[2018-12-05 11:02] yuta1024 opened #302 "An example project does not support Django 2.1"
An example project does not work when use Django 2.1.
[code]

In Django 2.1, `contrib.auth.views.login(), logout()` was removed.
https://docs.djangoproject.com/en/2.1/releases/2.1/#features-removed-in-2-1

Applying the following patch, it worked fine.
[code]

If there is no problem with this patch I will send PR.
Thanks.

[2018-12-05 14:55] juanifioren commented on #302
Hi @yuta1024, sure send PR please

[2018-12-06 13:38] yuta1024 commented on #302
@juanifioren Thanks. I sent PR(#303).

[2018-12-06 20:52] defgsus commented on #249
Thanks for your fix @q3aiml,
still the OPTIONS request is blocked by the `protected_resource_view` decorator.
I know, the openid-connect-core spec does not mention OPTIONS. But it seems to be used and accepted around. For example [redux-oidc](https://www.npmjs.com/package/redux-oidc) uses it, and actually fails authenticating through django-oidc-provider. It works through auth0.com as provider as

[2018-12-06 22:49] defgsus opened #304 "OPTIONS request blocked on userinfo endpoint"
The problem is partly described in [#249](https://github.com/juanifioren/django-oidc-provider/issues/249) but was subsequently ignored.

At least the [oidc-client-js](https://github.com/IdentityModel/oidc-client-js) library does an OPTIONS request against the `userinfo` endpoint which gets blocked by the `protected_resource_view' decorator.

The openid-connect-core specification does not require s

[2018-12-06 23:13] defgsus commented on #249
Opened a new issue for the blocking thing #304

[2018-12-16 00:20] stefanfoulis opened #308 "Does Client.response_types have to be a Model?"
https://github.com/juanifioren/django-oidc-provider/commit/36018d19aee0d065b793c9f8e4e3b824fe24b5dd

Multi-response-type support on the client is implemented using a Model. But it seems the possible options are limited a static set of choices anyway. And the model is just pre-populated with all the allowed choices.

Is there a specific need for it to be a model and not something hardcoded (since t

[2018-12-18 03:45] q3aiml commented on #308
That seems reasonable. Swappable models seems like a solid contribution and I can't think of a good reason to insist on a separate `ResponseType` model or many to many relationship.

Separate fields do instinctively feel less clean to me but I can't come up with a good reason why. There is a limited number of options and, as you mention, the options aren't really changeable without associated code

[2018-12-18 07:08] stefanfoulis commented on #308
I ended up abandoning the swappable model approach and went for other ways of achieving a similar thing, so it being a model is not blocking me anymore.

But I already had implemented the change to be a single TextField with json inside with a custom field in https://github.com/juanifioren/django-oidc-provider/pull/307/commits/db0b37afa8329675026a9356d5c0c1906655af03 (currently part of https://git

[2018-12-19 08:09] #302 closed

[2019-01-18 11:03] benkonrath commented on #269
It seems that this isn't as straightforward as the spec suggests. See the discussion on this issue for details:
https://bitbucket.org/openid/connect/issues/1022/session-management-op-frame-message-origin

[2019-02-14 08:24] ZedObaia opened #314 "User is logged out and redirected to login even though he is already authenticated and has a session"
Whenever a client tries to redirect to `/openid/authorize/` the end gets logged out from the provider's site even though he has a valid session and a new session with a session key is created in the database.

In the `AuthorizeView` calling this `get_attr_or_callable(request.user, 'is_authenticated')` always returns `False`
I have only one host in `allowed_hosts` and here's my environment details:

[2019-02-14 15:11] tituomin opened #315 "Consistent ordering of RSAKeys is not guaranteed"
Django doesn't guarantee a consistent ordering of models without an
explicit default ordering.

https://github.com/juanifioren/django-oidc-provider/blob/f0daed07b2ac7608565b80d4c80ccf04d8c416a8/oidc_provider/lib/utils/token.py#L158

Rotating RSA keys requires a consistent ordering, because the first key in the set of keys is always used for signing. Should we add a default ordering?

See https://s

[2019-02-14 23:43] stefanfoulis opened #316 "always return error messages as redirects with prompt=none"
When refreshing an access token in a hidden iframe with the `Implicit Grant` (and probably hybrid?) it is important that the `authorize` endpoint only uses redirects to report the errors. Otherwise, we run into `CORS` and `X-Frame-Options` errors and never see the real errors.

Currently, when `ClientIdError` or `RedirectUriError` are raised in `AuthorizeView` we end up with the error as rendered

[2019-02-15 09:05] stefanfoulis commented on #314
@ZedObaia that is weird 🤔
Are you initiating the `authorize` step with `prompt=login`? (That would force a logout and re-login every time)

[2019-02-15 10:34] tituomin commented on #315
I can make a pull request if there are no objections.

[2019-02-15 13:53] tituomin commented on #315
To be more precise: I suppose an ordering of the keys is not strictly necessary, since the clients can always fetch the keys when it encounters a new key id. But always signing with the oldest valid key might help clients with cached keys to avoid extra requests.

[2019-02-17 07:26] ZedObaia commented on #314
@stefanfoulis  Nope, this is the request I get at the provider end
`GET /openid/authorize/?client_id=806536&redirect_uri=http%3A%2F%2Flocalhost%3A7000%2Faccounts%2Fcallback%2F&scope=openid+profile+email&response_type=code`

[2019-02-19 15:34] ggjersund commented on #314
@ZedObaia Are you having problems with the state/nonce?

[2019-02-19 20:00] ggjersund commented on #316
Are you being redirected like the following?
`http://localhost:4200/silent-refresh.html#error=login_required&error_description=The%20Authorization%20Server%20requires%20End-User%20authentication&state=Nmtrl7gyEsctXWxVVJ0M80w6d0xNQCp1su8qfEGR`

If so, what Django version are you using?

[2019-02-19 20:19] ggjersund commented on #314
Also note that this only occurs locally and not in production

[2019-02-19 21:58] ggjersund commented on #314
Problem solved!
Took a quick look through the [release notes](https://docs.djangoproject.com/en/2.1/releases/2.1/#samesite-cookies) for Django 2.1, and I missed an important part about Samesite and session cookies.

Is there a way to incorporate CORS or disable this for the authorize endpoint?

[2019-02-20 15:54] peppelinux opened #317 "[Feature request] Inline ModelAdmin to configure claims filters and rewrites"
Hi, very lovely project, I absolutely have to implement this soon as possibile!
I was wondering about the opportunity to configure policy and rewrite rule, for every RP/Client, directly via web admin ui.

An administrator should decide which claims give to an RP, using a multichoice element.
He should also add one or more rewrite rules to one or more claims.

I read in the official Documentation a

[2019-04-01 08:56] jblemee commented on #59
Hi,

What's the status of this feature ? I can't find the branch. Is someone working on it ? Can I continue what you did @wayward710  ?

[2019-04-01 08:59] jblemee commented on #263
Hi,

See : https://github.com/juanifioren/django-oidc-provider/issues/59

And one implementation in this fork :https://github.com/wayward710/django-oidc-provider/commits/v0.2.x

[2019-04-01 15:03] juanifioren commented on #59
Hi @jblemee the implementation is outdated. We should start it again.

[2019-04-01 15:04] juanifioren commented on #263
Hi, is currently not! closing because of duplicate.

[2019-04-01 15:04] #263 closed

[2019-04-18 14:14] harwee opened #319 "Redirecting to URL with no query parameters but as anchor `#`"
I have a client trying to authorize. the client gets redirected to login page, but after authentication the server redirects back to the callback url but it doesn't contain query params, well there are params but are not separated using `?` but with `#` this is the url the server is redirecting to

        http://localhost:4200/#access_token=<access__token>&id_token=<id_token>&token_type=bearer&ex

[2019-04-23 09:34] etchegom opened #320 "Disable CORS management"
I built my django app with an nginx proxy upstream, which is in charge of handling CORS headers. I would need a new boolean settings value (like `OIDC_CORS_MANAGEMENT_ENABLE`) to tell django-oidc-provider not to manage CORS headers at all, so that I can delegate this job to my proxy.

Please tell me what you think about that. Maybe there is a particular reason for CORS headers to be handled like i

[2019-04-23 11:52] Amoki commented on #319
IIRC this is the indented behavior.
You can find an example to deal with these params here: https://openid.net/specs/openid-connect-core-1_0.html#FragmentNotes

[2019-04-23 12:41] harwee commented on #319
Oh ok mybad, I think the problem I am facing is not because of this then. I will close this issue

[2019-04-23 12:41] #319 closed

[2019-04-25 13:54] toti1212 commented on #315
Its suppose that the order was by `id`? Or you think to add a new field like `created_at`?

[2019-04-29 09:44] tituomin commented on #315
Ordering by id should be fine. The default primary key in Django should auto-increment by default. The point was just to add the 'id' to the Meta option ordering: https://docs.djangoproject.com/en/2.2/ref/models/options/#ordering

[2019-05-10 12:54] zvyn commented on #304
@defgsus sorry, I didn't see your commit until after I implemented it as well! I'll create a PR now, hoping it merged upstream.

[2019-05-13 07:51] zvyn opened #322 "Tests fail because of changes in flake8"
Options to solve this:
1. Ignore `W605 invalid escape sequence` errors and pin flake8 to the current version
2. Fix the `W605 invalid escape sequence` errors and pin flake8 to the current version
3. Pin flake8 to the last version that worked

I am happy to provide a PR, just let me know which solution you prefer.

[2019-05-15 21:45] juanifioren commented on #322
Hi @zvyn maybe 2. will be better, what do u think?

[2019-05-21 17:10] LuanP commented on #120
Is this going to be published? :(

[2019-05-25 16:06] zvyn commented on #322
Sorry for the noise, I branched off of master at first and had to rebase. Doing that I found out that there was nothing left to do but to pin flake8. Anyway: I made a PR to develop now: #323

[2019-05-27 16:48] Amoki opened #324 "How to implement access_token validation?"
I have an OP and an API.

The API receives a call with an access_token. The API must know from where this token is coming:
Is it a user token? Through which client?
Or is it a client token (client_credentials)?
Which scopes this token has?

The `/userinfo` endpoint only works if the openid scope is used and there is no way to make it mandatory.
The `/introspect` endpoint tells us which app and wha

[2019-06-10 14:41] toti1212 commented on #120
Hi @davidmr. I started investigating the federated logout in OpenID and I saw you just did develop it in this project! Did you try this feature in production?

[2019-06-10 19:34] herchila commented on #212
Hey @juanifioren! Maybe you can try this out: https://www.patreon.com/

[2019-06-10 19:37] herchila opened #325 "Back-Channel Logout specification"
Hi!

Is there any possibility to implement Back-Channel Logout?
https://openid.net/specs/openid-connect-backchannel-1_0.html

Cheers,
Hernán

[2019-06-12 14:44] juliendubost opened #326 "Bug: Codes and Tokens are not removed when UserConsent is deleted"
Hi,

I noticed that when a `UserConsent` object is deleted, belonging `Token` and `Code` objects are not deleted, implying those tokens and codes are still valids until they expire.

I have a PR to offer but as mentioned in the contributing guide i post an issue before.

Thanks.

[2019-06-24 01:30] OmenApps commented on #222
Isn't this fixed in [Adds per-client consent customization](https://github.com/juanifioren/django-oidc-provider/commit/b164388e15b8edc46e0ded28ca8d2056051caee7#diff-76399cf8cc3acfac723da8fecc5be309)?

@juanifioren - this old issue could probably be closed now

[2019-07-01 18:45] EvgeniGordeev opened #328 "Handle optional scope on token and introspection endpoints for password and client_credentials grant_type"
Parameter scope is defined as optional on authorization https://tools.ietf.org/html/rfc6749#section-4.1.1 and introspection https://tools.ietf.org/html/rfc7662 requests.

An enhancement is proposed to handle `scope` parameter on authorization requests with grant_type=password or grant_type= client_credentials (related to https://github.com/juanifioren/django-oidc-provider/pull/193):
1) if `scope`

[2019-07-02 06:48] shepelevstas opened #330 "Another installation error"
Hello! Trying to follow Installation instructions from the docs I get an error right after this command:
`$ python manage.py migrate`
the error:
[code]

Don't know what is means, except there is no `LogoutView` in `django.contrib.auth.views`.
I use Django 1.10
On Windows 8.1 64bit

[2019-07-06 14:06] juanifioren commented on #330
Hi @shepelevstas which version of `django-oidc-provider` ?? last version we drop support for `django` lower than `1.11`
https://django-oidc-provider.readthedocs.io/en/latest/sections/changelog.html#id2

[2019-07-06 14:06] #330 closed

[2019-07-06 14:07] juanifioren commented on #328
Merged!

[2019-07-06 14:07] #328 closed

[2019-07-06 14:11] #322 closed

[2019-07-06 17:43] shepelevstas commented on #330
I see. Thank you. The Installation docs still state the support for versions of Django 1.8+

[2019-07-06 22:42] juanifioren commented on #330
True. Changing... thanks for reporting :+1:

[2019-07-07 14:50] jesusch opened #331 "not working with djongo/mongodb"
while using djongo as a database backend (https://nesdis.github.io/djongo/), django-oidc-provider cannot run its migrations fully

trace:

Running migrations:
  Applying oidc_provider.0001_initial... OK
  Applying oidc_provider.0002_userconsent... OK
  Applying oidc_provider.0003_code_nonce... OK
  Applying oidc_provider.0004_remove_userinfo... OK
  Applying oidc_provider.0005_token_refresh_token.

[2019-07-08 13:51] #222 closed

[2019-07-08 13:53] juanifioren commented on #331
Hi @jesusch don't know what to tell you! since we are using only the official django databases. Please provide python, packages & mongo versions.

[2019-07-08 21:34] #331 closed

[2019-07-09 14:50] florian-hartmann commented on #230
Hi, I think this is an important feature. As far as I understand the existing code, a user can stay logged in forever if he has a `refresh_token`. With every refresh, the user will receive a new `access/id_token` and a new `refresh_token`. It also doesn't matter if the current `access_token` has expired, it is still possible to generate a new `access_token` with the `refresh_token`.

[2019-07-11 00:14] stevenandres opened #332 "Missing "claims_supported" part of openid-configuration"
Forgive the perhaps obvious question -- trying to interface a working OIDC provider setup with a third-party system that is complaining that the "claims_supported" dictionary is not provided at .well-known/openid-configuration

How do we enable that section? I'm a bit lost in the weeds of the documentation. I don't want to create any custom types, just the standard ones. I was told by this third p

[2019-07-19 15:06] ggjersund opened #334 "Error when migrating on production server with postgresql"
Having problem migrating this library on the production server using postgresql.

[code]

[2019-07-19 15:10] ggjersund commented on #334
Possible solution:
I suspect its related to my hosting providers version of postgresql.
[https://docs.djangoproject.com/en/2.1/releases/2.1/#dropped-support-for-postgresql-9-3](https://docs.djangoproject.com/en/2.1/releases/2.1/#dropped-support-for-postgresql-9-3)

[2019-07-25 07:16] geoff-va opened #335 "Add support for response_mode=form_post"
https://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#ResponseModes

https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html

[2019-07-25 16:07] geoff-va commented on #332
https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/views.py#L260-L292

Doesn't look like there are currently any mechanisms to support this. It's not part of the current built in response, so would need to be added.

[2019-07-25 19:53] stevenandres commented on #332
Correct -- it is not required but I have run into a couple of large third party enterprise systems that are treating it as if it were required (not adhering to standards). In any case, it might be a "nice-to-have" for future revisions of the library. Thanks for the reply!

[2019-07-25 19:58] geoff-va commented on #332
You bet - does sound like it would be a useful feature to have. Might be worth re-opening this issue or create a new request as an enhancement if you're interested!

[2019-07-25 20:10] stevenandres commented on #332
Can I just use an **issue** as an enhancement? Didn't know what was polite way to do it. I'll reopen and see what we get.

[2019-07-25 20:16] geoff-va commented on #332
yup! You may want to rename it so it's more indicative of the request - something more like: `Add claims_supported to open-id configuration` or whatever you see fit, and then reference pertinent specs in your request.

At some point a maintainer can tag the issue as an Enhancement (See labels tab in the Issues section).

[2019-07-26 20:33] toti1212 commented on #298
Hi @divick!
An approach could be filtering Token by user and client_id.

 Then, you can iterate on that Queryset and check if the `jwt.decode(id_token, verify=False)`  that you have is the same that the iter token.id_token. If fit, you can delete it (?)🤔

[2019-07-29 12:14] florian-hartmann commented on #334
If you are using Django >= 2.1 and Postgres <= 9.3 then this is not an issue with the `django-oidc-provider` extension and we should close this issue.

[2019-07-30 13:15] ggjersund commented on #334
It was related to postgresql version and Django version. Closing the issue.

[2019-07-30 13:15] #334 closed

[2019-07-31 08:18] afrida67 opened #338 "Internal Server Error: /openid/callback/login/"
I'm getting this error after I logged into my secured page

`
/home/afrida/.local/lib/python3.6/site-packages/django/core/handlers/exception.py in inner
            response = get_response(request) ...
▶ Local vars
/home/afrida/.local/lib/python3.6/site-packages/django/core/handlers/base.py in _get_response
                response = self.process_exception_by_middleware(e, request) ...
▶ Local var

[2019-08-08 15:27] karambir commented on #338
Hi @afrida67 this is wrong project for you to report your issue. I believe you are using "django-oidc" and not "django-oidc-provider"(this project). Please report here https://github.com/marcanpilami/django-oidc

[2019-08-08 15:51] karambir commented on #325
A simple but working implementation is done by me here https://github.com/karambir/django-oidc-provider

I am using the that package with oidc client: https://github.com/karambir/mozilla-django-oidc

Back-channel logout basically needs to store something to identify session so that clients can also logout on their side. For django it is little bit tricky. I am doing following:

1. On OP side, each

[2019-08-13 13:29] #338 closed

[2019-08-16 16:29] d3k4z opened #341 "example docker fails to build"
Hey guys,

I tried building the Docker from /example folder and got the following error while executing.
command::
[code]
Errors on step 2/5
[code]

[2019-08-24 00:54] OmenApps opened #342 "[Enhancement] An approach to adding DRF Authentication"
I'd like some extra sets of eyes to make sure we didn't miss anything dangerous.

We have been looking for a Django Rest Framework (DRF) solution to go along with oidc-provider for some time. We have a bunch of additional models tied to Client, as I'm sure many of you do, and wanted to be able to provide information about these associated models to their clients via DRF.

So we looked at how djang

[2019-08-24 00:55] OmenApps commented on #242
@ggjersund - Does #342 help?

[2019-08-27 11:36] ZuSe opened #343 "userinfo returns wrong response with django cache enabled"
We have identified some unexpected behavior with any django cache (db or redis) enabled.
Our Ressource-Servers are using the userinfo endpoint to resolve users from the previously shipped Bearer Token (on login)

We are calling the /userinfo/ endpoint with GET and have the token in the header e.g.
curl -X GET \
  https://accounts.xxxxx.org/oidc/userinfo \
  -H 'Authorization: Bearer 3c698d49ef1346

[2019-08-27 12:15] suutari-ai commented on #343
Maybe the view should be decorated with `@vary_on_headers('Authorization')`? See `https://docs.djangoproject.com/en/2.2/topics/cache/#using-vary-headers for more info about this decorator.

[2019-08-27 12:42] ZuSe commented on #343
Hi @suutari-ai that sounds like a valid option. As far as i can see there is nothing like that in the code atm.

[2019-08-31 04:41] mattjegan opened #344 "Upgrading to Django2.2 has broken my tests"
I have tests that make calls to `/openid/token` that were passing when I was using django<2. I'm reasonably sure that the issue is in this library as I haven't changed any of the parameters passed in the request. This is the stack trace, is there any quick fix that you know of? I'm using version `0.7.0` of django-oidc-provider.

[code]

[2019-09-20 19:00] geoff-va commented on #275
If you're still interested in this, I have a working version [here](https://github.com/geoff-va/django-oidc-provider/tree/test_jwt_auth).

I haven't created a PR since I don't have any tests yet and I'm sure it could use some vetting.

[2019-09-24 16:56] geoff-va opened #345 "Django 1.8-1.10 not actually supported"
It appears Django 1.8-1.10 are not actually supported because `LogoutView` wasn't created until [Django 1.11](https://docs.djangoproject.com/en/1.11/topics/auth/default/#django.contrib.auth.views.LogoutView). So either the docs could be updated or we can add support for that class based view.

I'm not sure what else may/may not work in pre django 1.11 even if that is fixed.

This was discovered by

[2019-09-24 22:03] geoff-va commented on #345
It appears the only things causing the incompatibility are the `LoginView` and `LogoutView` classes that were new in Django 1.11.

* I copied those classes from django 1.11 and added them to the `compat.py` file that already existed
* Updated both `urls.py` files to catch import errors and load the ones from `compat.py` if not found
* Updated `views.py` to do the same thing

I ran tox with python

[2019-10-14 21:39] cbouvier15 commented on #275
Hi @geoff-va, sorry for the late answer!

Sure, I'll take a look and maybe I can help you out by adding some tests.

[2019-10-15 18:00] geoff-va commented on #275
@cbouvier15 that sounds great, thanks! Let me know if you've got any questions!

[2019-10-15 18:05] geoff-va commented on #345
Current WIP branch [here](https://github.com/geoff-va/django-oidc-provider/tree/django-1.8-compat).

[2019-10-17 11:06] mitchelljkotler commented on #252
I am interested in being able to use JWT for access tokens - would you be open to a PR?  If not, would there be a way to make the token configurable, so its possible to plugin an external module to define the token type?  I would like to avoid having to maintain a fork for JWT access token support

[2019-10-23 13:33] shashank0495 opened #349 "Generated JWT Token doesn't contains valid fields"
The library version used
django-oidc-provider - 0.7.0
For using this library with IOS App, I have used react-native-app-auth (4.4.0)
https://www.npmjs.com/package/react-native-app-auth

[code]

[2019-10-28 18:27] sidagrawal opened #353 "Log level severity is set too low"
This library is really great for integrating OAuth into a django app. Unfortuantely, I'm having a bit of trouble with my logs because the log severity on the authorize endpoint is set to DEBUG. These errors are ones that I would like to catch but turning on DEBUG level logs in a production environment will lead to way too many logs. I think it would make more sense to have these logs be at the err

[2019-11-13 21:09] geoff-va commented on #349
You may be able to generate and add any of the claims that are missing:

https://django-oidc-provider.readthedocs.io/en/latest/sections/settings.html#oidc-idtoken-processing-hook

https://django-oidc-provider.readthedocs.io/en/latest/sections/scopesclaims.html

[2019-11-13 21:15] geoff-va commented on #353
You could set the log level to `DEBUG` specifically for the `oidc_provider` app in your django `settings.py` file?

[2019-11-13 21:20] sidagrawal commented on #353
I'm not sure how to set the log level for a specific package in the `settings.py` file. Could you point me in the right direction?

[2019-11-13 21:33] geoff-va commented on #353
You can follow the patterns [here](https://docs.djangoproject.com/en/2.2/topics/logging/#examples).

Something like the following:

[code]

[2019-11-13 21:38] geoff-va opened #355 "Error response appends extra ? to redirect_uri"
When the `redirect_uri` already contains a query string, if there is an error with the authorization request then an additional `?` is appended to the `redirect_uri` with the error query params.

Example:
`redirect_uri=https://some.domain.com/index?action=authorize`

becomes:
`redirect_uri=https://some.domain.com/index?action=authorize?error=login_required&error_description=The Authorization Serve

[2019-11-14 10:42] toti1212 commented on #355
Hi @geoff-va ! Good to know this! I have no experience with that bug, but, I realized that the function [create_response_uri](https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/lib/endpoints/authorize.py#L129) could be better to fix that.

I have a problem with the same function when the redirect_uri is a deep link like `slack://test`
That function returns me something l

[2019-11-14 16:56] geoff-va commented on #355
@toti1212 I think the error (in my case at least) is coming from [create_uri](https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/lib/errors.py#L107-L123) in `errors.AuthorizeError`. I'm going to try to make that a little more robust.

I think the ultimate goal there is to leave the `redirect_uri` intact and append our parameters to either the query string or the query fr

[2019-11-16 07:37] geoff-va commented on #353
@sidagrawal can you close this if it solves your problem?

Thanks!

[2019-11-16 07:39] sidagrawal commented on #353
Thanks for solving this!

[2019-11-16 07:39] #353 closed

[2019-11-18 19:47] geoff-va opened #357 "Scopes not validated against Client's scopes"
I created a test client with the following authorized scopes:
- `openid testing`

using `authorization_code` flow.

Then I followed the instructions [here](https://django-oidc-provider.readthedocs.io/en/latest/sections/accesstokens.html) to get an access code, but requested the following scopes:
- `openid other special`

instead of the ones in the Client's scope (these were custom scopes I've adde

[2019-11-18 20:35] geoff-va commented on #357
I just noticed the `validate_requested` scopes comment specifically states it's only handling this for password and client_credentials, so this seems intentional. Is there somewhere in the spec or a reason we wouldn't apply this to all code flows?

[2019-11-18 20:58] geoff-va commented on #357
Ok I think this was actually already brought up and explained [here](https://github.com/juanifioren/django-oidc-provider/issues/244). Closing because it would seem I misunderstood :)

[2019-11-18 20:58] #357 closed

[2019-11-19 17:14] svenstucki commented on #304
We're facing the same issue. It would be great to get a fix for this merged, instead of having to use a fork.

@juanifioren would it be possible to merge #321 ? It's a fairly small change.

I think this objectively is a bug in the current implementation, as the OPTIONS request method is used for the CORS preflight only. But the specs do not allow a preflight request to have an access token (there

[2019-12-03 10:00] Cediddi commented on #304
I'm having this issue as well, I'm currently using a fork right now but would much prefer this issue to be solved.

[2019-12-17 21:39] pzelnip opened #359 "Pytest warning: RemovedInDjango20Warning: on_delete will be a required arg for ForeignKey in Django 2.0"
With my Django 1.11 project based on django-oidc-provider, I have a number of unit tests that I run via Pytest (https://pytest.org/en/latest/).  Upon running those tests I see a number of warnings:

[code]

There are many such warnings, that appear to stem from the migrations within django-oidc-provider.  Given I'm planning on upgrading this project to Django 2.2 as 1.11 leaves LTS in April, these

[2019-12-26 22:22] alexander-arce opened #360 "Pairing Social login"
Hi everyone,
Any one has added social login capabilities along oidc-provider ?.
A requiremente in project is decouple login,autentication, autorizathion as a microservice.

What's steps is needed to add social login with oidc-provider ?
Thanks

[2020-03-23 20:17] crgwbr commented on #241
FWIW, I'd really like it to be possible to use wildcard in both the callback and logout redirect fields. We use review-apps (auto-created deployments of feature branches) a lot, so I'd like to be able to say, for example, that `https://*.reviewapps.example.com/callback/` is valid, rather than having to add and maintain every single possible subdomain.

[2020-03-23 21:44] happy-dev commented on #241
@crgwbr You might be interested in this response: https://stackoverflow.com/a/52775024/877353

[2020-03-25 17:36] Cediddi commented on #324
I'm also having this issue, how did you solved your problem?

[2020-03-27 13:22] borkke opened #363 "Question: Using google as external user pool"
I have up and running Django/OpenID Connect Server and everything works fine with the Djangos user base. Now, I want to wire up with Google suite.

Basically I only want to allow users from my google suite account (...@mycompany.com) to be able to login using Google's login page.

My idea is to let my OpenID Connect server to issue tokens but I need to find a way how to register users in the OIDC

[2020-04-08 09:21] nickoarg commented on #341
urls.py
[code]

[2020-04-19 17:30] #363 closed

[2020-04-21 11:58] HarisSmajlovic opened #365 "KeyError at /oidc_provider/client/9/change/ 'client_id' on accessing Client with read-only permission"
`ClientForm.fields` can be empty (and are always empty when the form is accessed with `can view` permission only). Therefor accessing this dict within line 20 in **oidc_provider/admin.py** will raise the KeyError.

[2020-04-28 17:57] stodge opened #367 "Response: Failed to connect to localhost port 9000: Connection refused"
I'm experimenting with django_oidc_provider and it almost works for me. The user visits my client site at http://locahost:80 and is redirected to my OIDC Provider at localhost:9000. They log into my provider and are prompted to authorize the login. I click Authorize and I get an error:

Response :
Failed to connect to localhost port 9000: Connection refused

I'm not sure what to look for while inv

[2020-05-05 18:42] stodge commented on #367
Never mind, stupidity on my part.

[2020-05-05 18:42] #367 closed

[2020-05-07 19:12] stodge opened #368 ""The request is otherwise malformed" error?"
I'm getting this error:

`?error=invalid_request&error_description=The request is otherwise malformed`

Which I think is the `invalid_request` error from one of these django-oidc-provider code:

[code]

My request is :

`http://192.168.1.30:13000/openid/authorize?response_type=code&scope=openid+email&client_id=560817&redirect_uri=http://192.168.1.30:12000/oidc/callback/&state=...`

Which looks ok

[2020-05-07 19:45] stodge opened #369 "ClientIdError at /openid/authorize - No exception message supplied"
After I login I get this error:

[code]

The POST to /openid/authorize includes the "next" parameter:

[code]

But when it tries to get the client from the DB, it doesn't have an ID to retrieve:

`kwargs | {'client_id': ''}`

Am I right in thinking that the flow is:

[code]

[2020-06-16 13:49] jackieklaura commented on #368
Had the same problem when debugging manually with `curl`, while my Vue.js app using the [oidc-client](https://www.npmjs.com/package/oidc-client) works just fine. In the end for me it was the `response_type` which has to conform exactly to what is set up for your client in the Django backend.

So if you have it set to a hybrid flow using "code id_token token", then you really have to use `response_

[2020-07-08 17:52] wontonst opened #370 "Token filtering gets very slow"
I have a query that does

`Token.objects.filter(user_id=blah, expires_at_gte=current_time)`

This query becomes very slow at scale. I have some users that log in multiple times a minute which over time accumulates over a million rows.

This issue is a potential fix

https://github.com/juanifioren/django-oidc-provider/issues/60

but as mentioned the token history is lost.

My proposal is to add a c

[2020-07-09 12:06] praveenbommalibits opened #371 "Can I use Github third party authentication for login !"
Hi
Where can I  do the customisation  to support the third party authentication like GitHub or Google or Okta ...etc.
In order to achieve that where I can change the files.

[2020-07-28 17:10] zulrang opened #372 "migrations/0026_client_multiple_response_types.py fails in cx_Oracle 6.4.x"
See the sqlmigrate dump below:

`$ python manage.py sqlmigrate oidc_provider 0026

--
-- Create model ResponseType
--
CREATE TABLE "OIDC_PROVIDER_RESPONSETYPE" ("ID" NUMBER(11) NOT NULL PRIMARY KEY, "VALUE" NVARCHAR2(30) NULL UNIQUE, "DESCRIPTION" NVARCHAR2(50) NULL);
--
-- Add field response_types to client
--
CREATE TABLE "OIDC_PROVIDER_CLIENT_RESPO72A5" ("ID" NUMBER(11) NOT NULL PRIMARY KEY, "C

[2020-07-29 16:06] geoff-va commented on #293
I know this is old, but looks like [cryptodome is no longer on the blacklist](https://bandit.readthedocs.io/en/latest/blacklists/blacklist_imports.html#b414-import-pycryptodome):

[code]

[2020-08-06 10:14] pranavkatiyar opened #373 "'AnonymousUser' object is not iterable issue."
Hi, I am getting the following error randomly.

(I am having 3 different environments running up but this issue is showing up only in one of the environments, the rest two are working fine.)

Traceback (most recent call last):
File "/opt/python/run/venv/local/lib/python3.6/site-packages/django/core/handlers/base.py", line 113, in _get_response
response = wrapped_callback(request, *callback_args, *

[2020-09-08 13:45] troeger opened #374 "Performance problems with /token endpoint"
We are running a Django application with the library on a 5 years old machine:

Prozessor: Opteron 6378 (1.3 GHz)
Python: 3.6
Django: 2.2.16
django-oidc-provider: 0.7.0

We got reports about extremely slow OAuth login flows against our code. A python profiling run showed that Cryptodome seems to take a lot of time for the token generation:

![image](https://user-images.githubusercontent.com/130879

[2020-09-08 20:38] kharann opened #375 "RSA key format not supported"
Hi, we keep getting `[Authorize] Error when trying to create response uri: ValueError('RSA key format is not supported')` when trying to authorize. It seemed to work completely fine a few days ago, but suddenly a lot of our application's auth stopped working. We are quite unsure why. But thats the error i got from Sentry

[2020-09-18 15:38] FluidSense commented on #342
Is there any news on the DRF-connection development?

[2020-09-18 15:47] #375 closed

[2020-09-19 23:21] OmenApps commented on #342
Sadly, it doesn't look like it. The repo owner has only made two or three github contributions in the past year, and does not appear to be maintaining this repo any longer. It's a shame, because it's a great package and he clearly put in an incredible amount of work. His LinkedIn suggests he got a new job a year ago, so that probably became a higher priority.

[2020-10-06 03:04] variable opened #377 "Project status?"
Hello Given last commit was 2 years ago, is this project still being maintained? If not, what is the alternative?

[2020-10-07 10:01] Cediddi opened #378 "Token refreshing returns id_token which is not in the specs"
I guess this is related to #230 and IdentityModel/oidc-client-js#1058

Refreshing a token must return access_token,  refresh_token, token_type and expires_in, and optionally id_token with iat of the new id_token and auth_time of original id_token. Instead it returns an id_token with different auth_time,  causing a mismatch in auth_time values check.

This is because user.last_login is used as the

[2020-10-09 03:38] locnt1195 opened #379 "Support ES256 algorithms"
My project required Openid Connect Provider support ES256 algorithms but i only see HS256 and RS256.
Does anyone apply this or know how to support ES256 algorithms when encode id_token.
Thank you for reading this.

[2020-11-19 13:30] ariera commented on #379
Doesn't seem to be currently supported, but should be relatively simple to add. The underlying 3rd party library (jwkest) seems to have support for it: https://github.com/IdentityPython/pyjwkest/blob/master/src/jwkest/jws.py#L201

So it may be as simple as adding the required logic here https://github.com/juanifioren/django-oidc-provider/blob/20282904e240ee679af45cfe0036ef596147cbc7/oidc_provider/

[2020-12-14 12:22] juanifioren commented on #371
OIDC is not handling how you identify your users, so you can use any login system you want. Use Django login url to send the user to your custom login view. Then redirect back to the starting url.

[2020-12-14 12:22] #371 closed

[2021-02-05 14:20] tandrade96 opened #384 "Programatically set RSA Keys for testing purposes"
TLDR: Is there a way to programmatically create an RSA Key? I need it to test my oidc middleware

I am testing an app that uses `django-oidc-provider`, and as far as I get to understand, many operations require that an RSA key is registered (for example if I request for `authorize` with a `token` flow, it answers with the `You must add at least one RSA Key` exception).

My problem is I don't know

[2021-02-05 14:25] OmenApps commented on #384
Other than imports, the rsa key generation is only 3 lines.

Check out how it's accomplished in the management command here: https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/management/commands/creatersakey.py

[2021-02-05 14:38] tandrade96 commented on #384
Thank you so much!

[2021-02-05 14:38] #384 closed

[2021-02-16 08:05] SuperMarioSF opened #386 "i18n+fix: Simplified Chinese translation"
I have done a translation for Simplified Chinese language and ready for contribute that.

Also, there is a small fix for a translation text missing problem.

`models.py` line 72
[code]

The translation is missing for "Response Type". This also affected other languages' translation.

[2021-02-24 14:17] suutari-ai commented on #377
I don't know how actively this project is maintained, but the presumption in the question is wrong. There are newer commits than two years on the develop branch, latest from Dec 2020 currently: https://github.com/juanifioren/django-oidc-provider/commits/develop

@juanifioren Would you care to share any update regarding the maintenance status of the project? There seems to some good looking PRs in

[2021-03-02 08:27] #379 closed

[2021-03-02 10:00] stefanfoulis opened #388 "Infinite redirect loop with prompt=select_account"
related to https://github.com/juanifioren/django-oidc-provider/issues/187

The only difference between `prompt=login` and `prompt=select_account` seems to be that with `prompt=login` the `prompt` `GET` parameter is removed from `next_page` before redirecting to the login page.
It looks like because it is not removed with `prompt=select_account` we end up with an infinite loop.

Probably we should

[2021-03-15 22:32] rh0dium commented on #377
Does anyone want to volunteer as a maintainer?  If we can identify a person then we can reach out to @juanifioren with a potential replacement. This is used by a number of folks and it would be nice to get upstream support.  Alternatively are there any active forks that people use instead.

For me the number of DjangoWarnings is getting heavy - I'll gladly do a PR but we need someone to merge this

[2021-03-16 10:55] dmptrluke commented on #377
I believe maintaining this project is important. I noticed quite heavy feature/documentation changes on the various branches of https://github.com/catalyst/django-oidc-provider last year, but that has stopped for now.

There doesn't seem to be any one upstream where someone is keeping track of things and managing pulls/etc. @juanifioren has accepted a few here in the last year, but also ignored se

[2021-03-27 18:26] OmenApps commented on #377
If @juanifioren will accept maintainers, I would be willing to put in some time long-term with administrative aspects of maintenance (adding some basic CI, providing input on issues & PRs, working on docs, etc), but I'm not an expert in security by any means, so things like approving PRs which affect core functionality should fall to someone more knowledgeable in that area.

[2021-03-29 14:21] juanifioren commented on #377
Hello there, so nice to hear there's people interested on helping here. Who would like to be a contributor? I can give access to merge stuff and we can discuss on what to approve.

I'll be reviewing current PR's and try to merge some of them. So far we can start with:

1. Review test pipeline and current version support for Py/Django.
2. Go through all PR's and diff bugs/features/must have.

[2021-04-02 16:15] rh0dium commented on #377
I agree with your priority list.   Looking at this there is some #385 seems like the first good step.

[2021-04-12 14:55] rh0dium commented on #377
Feel free to add me as a maintainer.

[2021-04-21 21:37] meteozond commented on #377
I would like to help here too

[2021-04-26 21:19] rh0dium commented on #377
@juanifioren - Ping!

[2021-05-06 15:38] rh0dium commented on #377
Anyone want to fork this and maintain it?

[2021-05-17 15:17] pope1ni commented on #377
Hi @juanifioren. How would you feel about handing this project over to the [jazzband](https://jazzband.co/) for future maintenance by the community?

[2021-05-17 20:53] rh0dium commented on #377
Bad Link?

[2021-05-31 01:07] hi5grant opened #390 "Authorize Endpoint expires_in Parameter does not use OIDC_IDTOKEN_EXPIRE for ID Tokens"
While using the `id_token` client response type, I planned to save the `expires_in` redirect uri parameter to reference how long I should cache my returned ID token. However I saw the token expired sooner than what was returned in the redirect param. I looked through the code for the authorize endpoint and saw the `OIDC_TOKEN_EXPIRE` setting is used for any flow, access token and ID token, rather

[2021-06-22 20:36] inventionlabsSydney commented on #342
@juanifioren is there any way we can take this over and implement, providing a PR?

[2021-07-01 05:53] davidtoulmin opened #392 "Broken image link in docs"
docs/sections/serverkeys.rst contains a link to an image on tinypic.com which has shut down so the image link is broken. Can someone upload a new version of what was in that photo? Thanks

[2021-12-15 10:13] Thorbenl commented on #377
@juanifioren You can add me too! :) I have a few things that are already in develop that would be nice to get released..

[2021-12-15 11:06] Thorbenl opened #394 "Support Django 4.0 and Releasing a new version"
Hello!
First and foremost, thanks for this package. We are looking to upgrade to Django 4.0, but run into these issues:

I have seen these deprecation warnings
[code]
and
[code]

have been addressed in current develop. Could you make a release? Or is there any plan for it?
Best regards
:)

[2022-01-13 18:32] nicwolff opened #396 "scope should be optional in client-credentials requests"
`scope` is optional in the client-credentials flow but if I make a requests to the token endpoint with `"grant_type": "client_credentials"` but without `"scope"` I get
[code]

[2022-01-14 10:07] gbip opened #397 "Removing login_attempt from cookies fails when user is logged in at account creation"
When a user register a new account on Keycloak, if email verification is disabled they will be automatically logged_in.
However this triggers a 500 server error as the login_attempt cookie is missing and can't be deleted
![2022-01-14-110810_637x326_scrot](https://user-images.githubusercontent.com/15819864/149497967-553a3fa0-4bf7-4759-ab0f-527c8f2cb2f1.png)
.

[2022-01-14 10:15] gbip commented on #397
Wrong repo, sorry.

[2022-01-14 10:15] #397 closed

[2022-02-02 14:57] herchila opened #398 "Any plan to release the latest develop code into master?"
Hi folks!
I see important commits in `develop` branch that would be great to have a new version of that.

[2022-02-03 15:16] dkdndes commented on #394
Please check
* https://github.com/juanifioren/django-oidc-provider/pull/399

[2022-02-25 19:48] mcepl opened #400 "test_makemigrations_output fails"
While running the test suite when packaging this for openSUSE/Factory we have this test failing (using Django 4.0.2, pytest 6.2.5, pytest-django 4.5.2):

[code]

[Complete build log](https://github.com/juanifioren/django-oidc-provider/files/8144181/_log.txt) with all packages used and steps taken to reproduce.

[2022-04-25 21:05] geoff-va commented on #374
I've seen a similar issue and I tracked it down to how keys are loaded.

https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/lib/utils/token.py#L159

If you trace this back into the `importKey` function, it's actually running all the consistency tests to ensure this is a valid private key. There is a lot of CPU involved in the various primality tests and such. So each tim

[2022-05-10 11:19] pgajdos opened #401 "use unittest.mock instead of mock"
Could you please consider to use unittest.mock as a fallback?

https://trello.com/c/S6eADbii/64-remove-python-mock
https://fedoraproject.org/wiki/Changes/DeprecatePythonMock

[2022-05-10 11:34] pgajdos commented on #401
See
https://build.opensuse.org/package/show/home:pgajdos:python/python-django-oidc-provider
for details, for example for build with python 3.6 and up.

[2022-05-19 21:01] JordiNeil opened #403 "Cannot import name ScopeClaims circular dependency"
I created a CustomScopeClaims just as in [documentation](https://django-oidc-provider.readthedocs.io/en/latest/sections/scopesclaims.html#how-to-add-custom-scopes-and-claims) but the test_claims test fails with error

[code]

And make sense because settings.py imports ScopeClaims
```from oidc_provider.lib.claims import ScopeClaims```

and ScopeClaims imports settings
```from oidc_provider import s

[2022-05-19 21:18] JordiNeil commented on #403
I think I solved it, I just had to move the CustomScopeClaims class to the oidc_provider.lib.claims file and update the constant in the Django settings file
[code]
to
[code]

[2022-05-19 21:18] #403 closed